[2018-04-12 17:11] HEdingfield opened #43 "Improve forensics / reproducibility of output"
Forensics is critical: output should include details on the machine/system, version, date/time, config file, etc. In addition to log and results visualizer files, also output the config file used for tabulation.

[2018-04-12 17:14] HEdingfield opened #44 "Output should only use open file formats"
* Migrate away from outputting .xlsx files towards .csv, .ods, or another open format.
* Make sure the results visualizer tool is able to use the chosen format.

[2018-04-12 17:21] HEdingfield opened #45 "Enable config file creation / modification in GUI"
* GUI should have ability to create, save, and modify config files
* Dropdowns for overvotes, ties, etc.
* Possible flow: first screen has load config or create config, next lets user review / modify and then saves config to output, last screen runs tabulator

[2018-04-12 17:29] HEdingfield opened #46 "Enable batch processing of multiple config files"
Longer term goal: e.g. if Maine is tabulating 300 races in the same election, it's tedious to need to run the tool that many times.

* Maybe design ability to input a "config control file" that lists multiple configs to batch
* Maybe also allow batch creation of config files (e.g. if most parameters are the same between them, and just the input / output file names change)
* GUI should also support

[2018-04-15 17:35] HEdingfield opened #48 "Use basic Java logger"
Current custom logger implementation may not be completely necessary, and also doesn't currently use any levels beyond INFO (expand to use WARNING, etc.).

[2018-04-16 21:17] HEdingfield opened #49 "Add support for interactive tiebreaking in the GUI"

[2018-04-23 00:32] HEdingfield opened #52 "Add overwrite warning before loading / running tabulator"
Possibly warn user and require verification if attempting to load a config that will overwrite either (or both) the .log output file and the .xlsx / .csv output file.

[2018-04-23 00:34] HEdingfield opened #53 "Consider showing all log output in GUI text box"
... rather than a few critical messages.

Should at least show the location of the output results and log files.

[2018-04-25 02:40] HEdingfield opened #57 "Create installer / standalone executable"
Determine the workflow needed to create a platform-independent installer and/or standalone executable for each serious release.

[2018-04-25 02:41] HEdingfield opened #58 "Improve documentation and create tutorial"
Create a tutorial to help users install the software, tabulate the example data, etc.

[2018-04-25 02:41] HEdingfield opened #59 "GUI "Starting tabulation..." message should appear as soon as button is clicked"
Fix "Starting tabulation..." message not appearing until after tabulation is complete (even though timestamp is accurate once it's finally displayed).

[2018-04-25 02:43] HEdingfield opened #60 "Consider gathering candidates from CVRs rather than specifying them in the config"
Any compelling reasons not to do this?

[2018-04-25 02:50] tarheel opened #61 "Support hash verification for CVR files"

[2018-04-25 02:51] tarheel commented on #60
I'm not sure. Technically there's no problem, of course. I'd defer to Caleb and George on what's appropriate: a) require listing candidates (current approach), b) never list candidates in the config, or c) optionally list candidates.

[2018-04-25 02:55] HEdingfield commented on #60
Yeah, would be good to get their opinion. Here's what I think makes the most sense:

1. User loads CVRs, and relevant data is scraped (candidates, precincts, etc.)
2. User is then brought to a screen where they can configure the tabulation and they're presented with options here that are specific to the behavior of the tabulator alone. They could also load an existing config file here.
3. User exe

[2018-04-27 23:48] tarheel opened #63 "Allow config to specify whether we should tabulate by precinct"

[2018-04-29 23:25] HEdingfield commented on #53
Also (maybe this should be filed as a separate issue), change existing code to use Java default logging as much as possible, following best practices such as [these](https://stackoverflow.com/a/16448421/3846321).

[2018-05-13 06:35] tarheel opened #66 "require output directory (config validation)"

[2018-05-13 06:41] #63 closed

[2018-05-20 06:59] tarheel opened #69 "show specific error messages when config validation fails"

[2018-05-21 17:41] HEdingfield commented on #66
Context, PR #64 conversation regarding precinctOutputDirectory field:

Conversation regarding `if (outputDir != null)`:

Conversation regarding `Logger.log("Failed to create precinct output dir: " + outputDir);`:

[2018-05-21 18:09] HEdingfield commented on #61
Context from email conversation:

[2018-05-21 18:14] HEdingfield opened #70 "Update README to include installation and usage instructions"
In the current zipped-up version we have for distribution, there's zero guidance on installation and how to run the tabulator.

[2018-05-21 18:19] HEdingfield commented on #70
Duplicate of #58, closing and moving comments over there.

[2018-05-21 18:19] #70 closed

[2018-05-21 18:20] HEdingfield commented on #58
In the current zipped-up version we have for distribution, there's zero guidance on installation and how to run the tabulator.

[2018-05-21 18:47] HEdingfield commented on #43
It's also probably really important that we ensure any future versions of the tabulator are backwards-compatible with older config files. Should we open a separate issue for this?

[2018-05-21 19:54] tarheel commented on #43
Yes. I would say once we have any actual external users, we should start supporting config versions. But for now the config format is still changing quite a bit...

[2018-05-22 05:13] moldover commented on #53
We could show all log output in the GUI, but it gets pretty unwieldy for any real data.  I think the more useful course is your first suggestion, tell user where we are logging and show execution highlights in the GUI console.

As for class level logging, that's fine by me, though not critical (pun intended).

[2018-05-22 05:27] moldover commented on #43
Good call, we should def spit out the config, version (date/time is in every log statement, but sure).  I'm not sure what aspects of the system are relevant, but certainly current user, working directory and input/output file hashes when we have them.

As for versions, that's another good point.  I agree with Louis, things are way too in flux, and no external users to justify this yet, but we shou

[2018-05-27 23:58] tarheel opened #73 "make RawElectionConfig fields private"
http://www.baeldung.com/jackson-field-serializable-deserializable-or-not

[2018-05-27 23:58] tarheel commented on #73
Once we do this, we may just want to combine RawElectionConfig and ElectionConfig.

[2018-05-29 06:56] HEdingfield commented on #66
Also in PR #72:

[2018-05-29 07:06] HEdingfield opened #74 "Better log output locations"
As discussed in PR #72:

And:

[2018-05-29 07:11] HEdingfield commented on #53
Per PR #72 notes by @moldover :

[2018-06-02 18:55] tarheel opened #75 "add support for permutation-based tie-breaking"
This is somewhat connected to #60. If we allow the operator to specify the tie-breaking permutation in the config file, they need to list out the candidates, of course.

For simplicity, my recommendation is to punt on #60 for now and rely on the candidate ordering in the config file to define the permutation for tie-breaking when this tie-breaking mode is enabled.

[2018-06-05 04:32] moldover commented on #75
Sounds right.  #60 is also something we should run past Caleb and George before doing, I suspect there may be good reasons not to do it at all (like, it could incorrectly treat undeclared write-ins like declared candidates for some cvrs)

[2018-06-11 17:38] #75 closed

[2018-07-04 18:33] HEdingfield opened #78 "Clean up test folder"
It would be nice to standardize the file names and clean up the test folder. I like the format date-location-office. Maybe we could consistently prepend cvr_* and config_* to those.

There also might be some test files in there that aren't needed anymore or, if they are, could also have more consistent names (e.g. "minimum-threshold-test-cvr.xlsx", "test_continue_tabulation_config.json", etc.).

[2018-07-12 21:05] HEdingfield commented on #45
Specific user feedback:

"Is there any chance the setup can be streamlined somewhat.

It would be great if there were an interactive questionnaire that could populate the JSON file parameter fields for each RCV contest without having to wade through the code to find each instruction.

Here’s a brief example of what I comes to mind.

1.       How many RCV contest are in this election? Answer = 3

2

[2018-07-15 10:57] tarheel opened #79 "read CVR IDs from input files"
Right now we're ignoring them and just creating our own IDs.

[2018-07-20 15:54] #79 closed

[2018-07-21 23:48] HEdingfield opened #82 "UI doesn't effectively convey tabulation failure"
If filePath in config file isn't pointing to a valid file, the audit log will correctly show the problem, e.g.:

However, the UI seems to convey that tabulation was completed successfully. The UI needs to properly convey why tabulation failed (including all the possible validation errors that can pop up).

[2018-07-21 23:49] HEdingfield commented on #53
Doing this would probably help address or solve #82.

[2018-07-23 00:08] #69 closed

[2018-07-23 00:09] tarheel commented on #82
This should be pretty easy to do now that #81 is closed.

[2018-07-23 00:09] tarheel commented on #82
(I mean, to give different messages depending on what went wrong.)

[2018-07-23 00:14] tarheel opened #83 "better error detection for malformed source files"
If a source file exists but has issues, the code doesn't handle it gracefully.

Things to check:
- invalid file type (renamed to .xlsx) (see #267)
- missing columns
- missing IDs or precincts
- unexpected cell type (see #180)  firstVoteColumnIndex was mistakenly pointing at the column with the ballot IDs,
- other?

[2018-07-23 16:57] HEdingfield opened #84 "Columns specified in config file shouldn't be 0-indexed"
This has proven to cause off-by-one errors / confusion with our users.

1. Proposed short-term fix: change all column references in config file to be 1-indexed.
2. Proposed long-term fix: UI should scrape column labels and present them in a dropdown for users to choose from.

[2018-07-23 17:28] tarheel opened #85 "continueUntilTwoCandidatesRemain bug"
See the benton_comm_pos2_summary.xlsx email thread with James Morales.

[2018-07-25 19:02] CalebKleppner opened #86 "Add installation instructions to ReadMe"
Universal RCV Tabulator installation instructions
From Caleb’s experience on Win 7 and Win 10
July 24, 2018

First, you gotta make sure you have at least version 9 of Java Runtime Environment (jre).  Current version is 10.0.2  Get it at:

http://www.oracle.com/technetwork/java/javase/downloads/jre10-downloads-4417026.html

Download the version for your operating system and install it.  Pretty quic

[2018-07-25 22:38] CalebKleppner opened #87 "Envison the new UI!"
I've uploaded a document that proposes a menu structure and tries to lay out many of the details.  Check it out and then let me know if you think we should change the approach or get started developing.

[Caleb UI Mockup 07.25.18.docx](https://github.com/BrightSpots/rcv/files/2229772/Caleb.UI.Mockup.07.25.18.docx)

[2018-07-26 01:36] HEdingfield commented on #45
Potential direction for UI documented in #87.

[2018-07-26 01:39] HEdingfield commented on #45
Can also explore "wizard" route outlined in Oracle's docs [here](http://www.oracle.com/technetwork/articles/javaee/wizard-136789.html).

[2018-07-29 02:37] tarheel commented on #85
Mysteriously, I can't get a repro. Emailed James to ask if it repros for him still.

[2018-07-29 03:41] tarheel commented on #87
Google Docs link to facilitate discussion: https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/

[2018-07-29 17:31] HEdingfield opened #92 "Apache POI illegal reflective access operation"
I see these warnings a lot when I run the tabulator; anything we can do to fix them?

[2018-07-29 17:40] HEdingfield commented on #82
Confirmed that it says "successful" after unrecognized candidate error is triggered as well, so guessing this is a general problem. It should also say exactly where it's writing the log file and the results out to.

[2018-07-29 17:53] HEdingfield opened #93 "rcv.log silently becomes huge"
Realized I had a 200 MB (and growing) rcv.log file sitting in the main directory. Can we address this somehow? Maybe at least break them up into a separate "logs" folder with filenames like rcv_X.log where X is tabulator start date and time? How do other programs handle ever-expanding log files?

[2018-07-29 18:42] tarheel commented on #93
Typically you would expect the system to have some process for keeping it under control. I like the idea of separating the output by timestamp. We could also make the app automatically find and erase any logs that are older than X days.

[2018-07-29 20:49] tarheel commented on #92
See question 23 here: https://poi.apache.org/help/faq.html

Also note the next question, where it says that .xlsx parsing won't work in Java 10.

I wonder if there's a better library that we should be using instead.

[2018-07-29 21:59] HEdingfield commented on #92
Yeah, that's definitely a cause for worry, since JRE 9 is relatively hard to install. FWIW, I'm using JDK 10 on my computer now and it seems to be running ok.

I guess take this issue as an action item to:
a) look for alternatives for loading .xlsx files
b) keep a close eye on Apache POI releases to make sure we get the newest version before submitting for certification

[2018-07-30 01:39] moldover commented on #93
Yep, the logging utility has built-in features for rolling over or splitting logs based on time or size.  I prefer a size split (or daily) because it facilitates debugging across application runs (e.g. batch execution, or a user can't remember exactly when something glitched...)

[2018-07-30 04:03] moldover commented on #92
I followed the white rabbit.  The Poi Java10 compile bug is [fixed](https://bz.apache.org/bugzilla/show_bug.cgi?id=62187).
I was able to download bleeding edge POI for Java 10 [build](https://builds.apache.org/view/P/view/POI/job/POI-DSL-1.10/lastSuccessfulBuild/artifact/ooxml-lib/)
With the addition of Apache [Commons](https://commons.apache.org/proper/commons-compress/download_compress.cgi) I wa

[2018-07-30 05:35] HEdingfield commented on #92
Nice, thanks for going to the tea party for us! Sounds like it still might be worth updating the Apache bins in our repo? Or would you rather wait a bit longer and circle back on this issue?

[2018-07-30 06:00] moldover commented on #92
It's not an official release and it doesn't solve the warning problem.  I'm inclined to wait till it does, or we need plan B, there may be some commercial options:  Haven't dug into these yet: http://roide-textcube.blogspot.com/2009/02/java-libraries-to-read-and-write-excel.html

[2018-07-30 18:51] HEdingfield commented on #66
@tarheel is this issue officially resolved now with [your cowboy commit](https://github.com/BrightSpots/rcv/commit/5fc4d4d0d32603df8d26f5bae1f7da0015e9e764) to master last night? 😈

[2018-07-31 03:33] tarheel opened #96 "automated tests"
I've never written any tests in Java, so I don't know which existing libraries to suggest.

I think what we're looking for is the ability to take an input config file, CVR file, and expected output file, and verify that the output file we generate matches the expected file (at least for all the tabulation results cells). Make sense?

[2018-07-31 06:27] moldover commented on #96
Yep, sounds right.  Just spitballing here:

0) run batch tests on input files
1) generate summary results in csv format (planning to do this anyways)
2) read summary results from the same csv format
3) read csv reports which are verified correct
4) compare the round by round counts
5) report comparision results

Note: besides steps 0 and 1, the rest of this does not need to be part of the actual T

[2018-07-31 16:52] gngilbert commented on #96
Not following all your conversation but I have created a set of test data sets in ES&S format and have tabulated the expected results manually.  TestSet1 and TestSet2, which I have shared with you are examples.  I am working on additional ones today.

Also need to create these test sets in other cvr formats, such as iVotronic,, Dominion (Santa Fe) and Dominion/Sequoia (San Francisco/Alemeda Co).

[2018-07-31 18:18] HEdingfield commented on #73
@tarheel so do you think method 3 in the article is the best way to go (i.e. make public getters for everything)?

[2018-07-31 18:54] HEdingfield commented on #96
Welcome, George!

What Jon says makes sense to me. Let's make sure we have our output file format pretty well locked down before diving deeply into this. It'll likely take a chunk of manual work to regenerate / reverify the files we're comparing to in our tests each time we change the format.

[2018-07-31 19:15] HEdingfield opened #97 "Reorganize / clean up config file format"
As suggested in the [UI update Google doc](https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/edit?ts=5b5d375c#). @CalebKleppner suggested that we group the currently-ungrouped parameters as follows:

1. Headers and file names
  "contestName" required:  user types in name (UI displays existing data if any)
  "outputDirectory" required:  user types in name or navigates

[2018-07-31 19:20] HEdingfield opened #98 "Create documentation tooltips for each field in config creator"
First pass at this can be a simple button that opens up the config_file_documentation.txt.

Eventually, it'd be nice to get full on context-sensitive tooltips integrated.

[2018-07-31 19:31] HEdingfield opened #99 "Refactor config validation"
Holding off on implementing the "Validate" button in the UI until we're able to pass a RawElectionConfig object (or something similar) into the validation function, instead of just having validation called and checked by Main.

This is probably a good opportunity to merge RawElectionConfig and ElectionConfig into a single class too, as was mentioned #73. Maybe file this as a separate issue?

[2018-07-31 20:59] HEdingfield commented on #73
Cool, out of curiosity, what's the rationale?

[2018-07-31 21:26] tarheel commented on #73
If we have public getters for all the raw fields, but then the non-raw version is something else (e.g. the raw config has a string, but in the ElectionConfig object that string gets converted to an enum), it'll be confusing to have both mixed into the same class. So it feels cleaner to keep these separate.

[2018-07-31 21:27] tarheel commented on #73
(You'd end up having, say, getOvervoteRuleRaw and getOvervoteRule.)

[2018-08-01 01:40] #85 closed

[2018-08-01 01:47] tarheel commented on #66
Er, no. Currently we default to the current working directory if outputDirectory isn't specified. Should we make it required?

[2018-08-01 02:40] moldover commented on #66
... on reflection, I think yes.  Output files are essential to the operation, and if we default to current dir, it is pretty "buried" for most users.  My suggestion is as the PR states, require an output dir and otherwise validation fails.

[2018-08-01 03:34] HEdingfield commented on #73
I guess I fundamentally don't understand the difference between the two classes; i.e. why have the "middleman" class of RawElectionConfig in the first place, instead of just sucking it up from the JSON and processing it directly into ElectionConfig?

[2018-08-01 03:36] HEdingfield commented on #66
Agree with this. In the UI I'll probably set up a nice FileChooser to handle this.

[2018-08-01 05:26] tarheel commented on #73
But how exactly would you implement it as one class?

We have to make the fields public to make the Jackson stuff work. So we'd have publicly accessible raw fields, plus a set of getters for the normalized values. That's confusing.

Alternatively, we could make the fields private and add getters. But then we'd have two getters for some of the fields (raw and normalized). Again, that would be confu

[2018-08-01 05:55] HEdingfield opened #102 "Enforce limits on config parameters"
Looking through config_file_documentation.txt I see claims like "value: text string of length [1..1000]" and "value: [0..10]", but I don't see these enforced anywhere in the code. We should either enforce them (e.g. via setter methods) or change these restrictions to match the actual limits of the data structures.

[2018-08-01 07:03] HEdingfield commented on #53
This looks promising for implementing a custom handler:
https://stackoverflow.com/questions/29927212/javafx-and-streamhandler

[2018-08-02 06:23] tarheel opened #104 "support iVotronic format"
Sample files from George:
- https://www.dropbox.com/l/scl/AAC-5xAQsSJnaBLcoYuyEi-uR1_EZjbflGE (CVR in LST format, whatever that is)
- https://www.dropbox.com/l/scl/AADyOvAwkjNUB1Dxvj8eqQkcDO7LiXC-EsU (CVR in XLSX)
- https://www.dropbox.com/l/scl/AACzSzHBw-XB0jcy-w3LkBLw0-RUrfGnW28 (tabulation in XLSM)

[2018-08-02 06:29] tarheel commented on #82
One alternative approach that came to mind: we could return the ElectionConfig object even when it fails validation, and the config itself would provide a method that returns a list of its validation errors. Just an idea.

[2018-08-02 06:31] tarheel commented on #96
I created #104 for iVotronic and included the links that George shared earlier. Do we have good sample CVR data for the Dominion and Sequoia formats? If so, let's create new issues for those.

[2018-08-02 07:06] HEdingfield commented on #82
And the validation method would get called as part of the constructor and / or method that fills out the config? I think that might make more sense. Still might not get around the "how do we communicate these errors to the GUI user" issue though.

[2018-08-03 16:02] CalebKleppner commented on #93
It looks to me like rcv.log is a file that contains an ever-growing log of every tabulation that is run.  I've deleted it a few times when it got too big.  Depending on how we format our logging output, that log can get pretty big, so I'd favor tagging the logfile with tabulation start date and time (rcv_2018-07-25_11-40-19.log), since even a single tabulation might exceed whatever cap size we cho

[2018-08-03 16:28] CalebKleppner opened #105 "Precinct results in a single file (long-term)"
The precinct report currently gives complete results for ballots from a single precinct (all candidates, all rounds, details, etc) in a single Excel file.  This is 266 separate files for Minneapolis, and Minneapolis is a small city.  Ultimately, it would be nice to show vote totals by precinct for all candidates in a single file.  The way to do this is to list candidates down the first column and

[2018-08-04 17:57] HEdingfield commented on #87
Closing because this is a duplicate of #45.

[2018-08-04 17:57] #87 closed

[2018-08-04 17:58] HEdingfield commented on #45
Design discussion and decisions made in #87 doc:
https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/

[2018-08-05 19:23] HEdingfield opened #107 "Change "election" references to "contest""
Agree with @moldover in the [UI doc](https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/edit?ts=5b5d375c#) that "contest" is a better term than "election" for our tool if we want to be as general as possible.

Recommend a superficial refactor of all uses of the word "election" in the code and documentation to "contest".

@tarheel sound good?

[2018-08-05 19:26] tarheel commented on #107
Um, yeah, that's fine.

[2018-08-05 21:03] tarheel opened #109 "don't allow the empty string for required string params"

[2018-08-06 06:46] gngilbert commented on #96
For Sequoia you can download any of the San Francisco cvrs from their
website.  I believe the guys at FairVote have the Dominion data from Santa
Fe.  Will check with them Monday.

Gg

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Thu, Aug 2, 2018 at 2:31 AM, Louis Eisenberg <notifications@github.com>
wrote:

[2018-08-06 17:16] HEdingfield opened #110 "Use standardized project structure"
I've been having trouble getting the Help button I'm working on to call up the config documentation txt file. It would help out a lot if we moved to a more standard directory structure like that used by [Apache's Maven project](https://maven.apache.org/guides/introduction/introduction-to-the-standard-directory-layout.html). [Here's](https://github.com/TheItachiUchiha/MediaPlayerFX) a simple exampl

[2018-08-07 02:05] HEdingfield commented on #110
I was researching [Maven](https://maven.apache.org/what-is-maven.html) more, and it seems like migrating to this structure will allow us to build out tests, manage dependencies, and deploy more efficiently. It also integrates well with IntelliJ. Check out the quick video [here](https://www.jetbrains.com/help/idea/maven-support.html).

[2018-08-07 02:31] moldover commented on #93
@CalebKleppner the main point of a separate "rcv.log" is for capturing actions which are outside a tabulation run, for example launching the gui, editing config files, etc.  This is helpful for internal debugging and perhaps record-keeping for running batch executions and unit tests, but on reflection I don't think rcv.log should be part of "official" tabulation outputs nor should we spend much ti

[2018-08-07 02:45] HEdingfield commented on #93
Agreed, this sounds good to me. Let's keep this issue open a little while after making this change though to get a sense of how big it gets (since we may want to create some overflow option if it's still necessary... hopefully it won't be though).

[2018-08-07 03:48] HEdingfield opened #111 "Replace com.rcv with unique domain"
Realized that our package is `com.rcv` currently. Since I'm guessing none of us own the rcv.com domain, we should change it to something unique (i.e. a domain that we actually own). Does anyone own brightspots.org? If so, we could use org.brightspots.rcv. Context [here](https://stackoverflow.com/questions/4620045/why-is-the-root-package-in-source-code-called-com).

[2018-08-07 05:58] moldover commented on #93
Thinking still further, what about splitting the execution and tabulation log outputs entirely (no duplication).  Something like this:

Execution log:  gui actions, config validation errors, ...
log to file: current/working/dir/rcv.log
log to console: yes
log to GUI: yes
example: "loaded my_config.json"  "validate my_config.json failed: no candidates specified"
storage policy: rollover: 2 files, 5

[2018-08-08 18:19] tarheel commented on #93
This sounds good. Big +1 to not duplicating all the tabulation output in rcv.log.

[2018-08-09 02:06] tarheel commented on #111
No, we don't have brightspots.org, unfortunately. But maybe we should get it...

[2018-08-09 02:41] HEdingfield commented on #111
Looks like it's taken unfortunately, but some cool ones are available, like brightspots.network: https://www.namecheap.com/domains/registration/results.aspx?domain=brightspots.org

[2018-08-09 05:17] tarheel commented on #111
I emailed the owner of brightspots.us a few weeks ago, but they haven't replied.

[2018-08-09 15:18] HEdingfield commented on #99
It should be relatively easy to convert `ElectionConfig.getValidationErrors()` to a stub that injects `this.rawConfig` into a new `static` version of `ElectionConfig.getValidationErrors(RawElectionConfig rawconfig)`. However, changing it to `static` might be a bit tricky.

@tarheel would you prefer that I just instantiate an `ElectionConfig` object and then call `getValidationErrors()` as-is for v

[2018-08-09 15:21] CalebKleppner commented on #59
This still seems to be the case on 8/9/18.  Will relate to logging info to console, GUI and audit files.

[2018-08-09 15:28] CalebKleppner commented on #60
This would be a nice feature, but it's not needed for testing submission 1.0, so let's keep our focus on that.

[2018-08-09 15:36] CalebKleppner commented on #46
For v 1.0, we can stick with a batch file using command line to run multiple tabulations.

[2018-08-09 15:36] #46 closed

[2018-08-09 15:41] CalebKleppner commented on #49
I think we are good, since we have interactive, previous round then interactive, previous round then random and permutation in config file.

[2018-08-09 15:42] CalebKleppner commented on #52
A good idea but may not be necessary since the output files now have date/time stamps.

[2018-08-09 15:45] HEdingfield commented on #49
@tarheel @moldover can one of you please verify that this code is all in place and WAI, then re-close if so?

[2018-08-09 15:52] HEdingfield commented on #46
Confirmed that all the functionality I originally outlined is actually in the application now, since you can specify multiple `cvrFileSources` in any given config now. Also building this into the config creator GUI.

[2018-08-09 15:53] HEdingfield commented on #49
Actually, I know for sure this isn't in the GUI yet, so we should keep this issue open. Would still appreciate confirmation if it works on command line.

[2018-08-09 15:56] CalebKleppner commented on #73
Just commenting to get subscribed to this and see if it's still an active issue.

[2018-08-09 16:06] CalebKleppner commented on #74
Repeating my suggestion from #72 that CVR files and output directory locations be _relative to config file directory_ instead of relative to tabulator directory (C:\Program Files (x86)\Bright Spots\RCV Tabulator).  Not sure if this creates issues for folks running on non-Windows OS, but our target users can be assumed to be on Windows machines.

[2018-08-09 16:08] CalebKleppner commented on #75
I think this is a great example of you guys coming up with a very efficient way to interpret something (permutation based tie-breaking) that most vendors aren't even thinking about.  Nice job.

[2018-08-09 16:12] CalebKleppner commented on #82
Presuming that we get a separate "validate config" function in v 0.8 GUI, this issue should become moot.

[2018-08-09 16:14] HEdingfield opened #115 "Apparent bug with with duplicate candidates"
Go through `ElectionConfig.processCandidateData()` using an example with duplicate candidate names and/or candidate codes. It looks to me like `candidatePermutation` will get the value added multiple times, which distorts the probabilities during the shuffle. I think `candidatePermutation` should be populated not in the initial `for` loop that populates `candidateCodeToNameMap`, but instead via a

[2018-08-09 16:14] CalebKleppner commented on #83
This should be taken care of when our validate config file routine starts working in v 0.8 GUI, so I put this on milestone v 0.9 to make sure we've covered all the bases by then.

[2018-08-09 16:15] HEdingfield commented on #115
Also worth noting that, even though the HashMap prevents duplicate values; if there are duplicate values, it'll subsequently overwrite whatever value is associated with that key. To me, this indicates that we want to check for duplicates and throw an error before we even run this method.

[2018-08-09 16:23] CalebKleppner commented on #84
Agreed.  ColumnIndex=1 really should be the first column, not the second column.  Ideally you have a ballotID field in the CVR, which is helpful for auditing, but, for example, the Minneapolis data doesn't have that, so it's good that we assign a ballot ID to each CVR.  Problem is that it's not always easy to link our ballot ID back to the actual record in the CVR.

Possible fix is to have another

[2018-08-09 16:23] CalebKleppner commented on #86
I think this duplicates another issue.

[2018-08-09 16:33] CalebKleppner commented on #46
That's good, but keep in mind that loading multiple CVR files in a
single election is different from batch processing of multiple config
files (each of which might contain multiple CVR files).

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 8/9/2018 11:52 AM, HEdingfield wrote:

[2018-08-09 16:36] CalebKleppner commented on #92
I'm also getting those POI error messages, but they only show up in the console, not in the GUI, the audit log or rcv.log.  Program seems to run a lot slower when you have the console open (2 minutes for Maine 2018 primary with console open compared to 30 seconds without)

[2018-08-09 16:50] CalebKleppner commented on #49
So just ran test of interactive and random from GUI and command line.  Looks to me like random works from GUI and command line, and interactive only works from command line.  You have to select the candidate to eliminate in the console, and it  you run it in GUI, the tabulator chokes on the interaction.  Here's output from successful (command line) run followed by choke:

Thu Aug 09 12:46:19 EDT 2

[2018-08-09 16:52] CalebKleppner commented on #96
I'm putting this on milestone v 0.9 cleanup, but we may decide it's not necessary even for v 1.0 submission.

[2018-08-09 17:05] CalebKleppner commented on #104
LST format files from ES&S iVotronic are text files that contain all the CVR data, but they are not very helpfully formatted.  I think we should assume we're using the .xlsx form of iVotronic records, which seems to be the same as the ES&S format from Maine and Minneapolis.

[2018-08-09 17:15] CalebKleppner commented on #110
This is above my pay grade, but if the 3 of you think this makes sense, I am fully supportive.

[2018-08-11 23:07] tarheel opened #118 "support Sequoia format"
We can download San Francisco data from their website.

[2018-08-11 23:08] tarheel opened #119 "support Dominion format"
George's comment from #96: "I believe the guys at FairVote have the Dominion data from Santa
Fe."

[2018-08-11 23:33] HEdingfield commented on #45
Next (and last, I think) step is to develop modification of existing config files.

[2018-08-11 23:34] HEdingfield commented on #73
@CalebKleppner Yep, still active. FYI, you can just click "Subscribe" under the notifications section in the top right of the issue; no need to comment unless you want to.

[2018-08-11 23:42] HEdingfield commented on #52
Agreed, this issue is obsolete. Closing it out.

[2018-08-11 23:42] #52 closed

[2018-08-11 23:51] tarheel commented on #115
Yeah, given our current design, the config should fail validation if a candidate is listed more than once. Will fix.

[2018-08-11 23:53] tarheel commented on #74
I'm curious to hear what @HEdingfield and @moldover think about @CalebKleppner's suggestion here.

[2018-08-11 23:55] HEdingfield commented on #86
Yes, it's related to #58. The problem here is that your instructions describe how to deal with the final compiled binary, whereas the README in our base directory should be about the raw source files.

We'll need to reassess all this once we get our project structure finalized (#110) and come up with a consistent, reliable methodology for releasing final compiled versions.

[2018-08-11 23:58] HEdingfield commented on #46
Deleted comment from @CalebKleppner because it had PII in it. Original text:

single election is different from batch processing of multiple config
files (each of which might contain multiple CVR files).

This is true. I didn't think it would be worth building in the ability to run multiple config files at once (beyond using the CLI via batch file), as it seems like anyone running an election woul

[2018-08-11 23:59] tarheel commented on #99
@HEdingfield: that seems reasonable to me, unless there's a downside that I'm not thinking of...?

[2018-08-12 00:03] HEdingfield commented on #96
Deleted @gngilbert's comment 6 days ago because it contained PII. Here's the text:

website.  I believe the guys at FairVote have the Dominion data from Santa
Fe.  Will check with them Monday.

Regarding @CalebKleppner's comment above: I'd argue that getting tests built in is not only essential pre-1.0, but should be very high priority. There are a number of backend issues I'd like to work on righ

[2018-08-12 00:25] HEdingfield commented on #74
I come down in a third camp: the config creator GUI currently sets absolute file paths, not relative, so they're neither relative to the config file directory nor the tabulator directory. I lean towards using absolute paths to maximize forensic accountability and minimize ambiguity (even if it makes it harder to use the same config on a different computer without modifying its file paths).

[2018-08-12 00:30] HEdingfield commented on #92
I think what @CalebKleppner meant here was that it ran slower when he had the GUI open? In which case, it's not really rendering anything there during tabulation anyway. If it's a reproducible issue, please open a new one and we can see if it's addressable.

[2018-08-12 00:48] HEdingfield opened #120 "Implement config file validation in config creator GUI"
Instantiate an `ElectionConfig` object and then call `getValidationErrors()` and figure out how to report the output in config creator GUI (this will likely require bringing over the bottom logging console from the main menu, and thus also requires addressing #53).

Per discussion [here](https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/edit?ts=5b5d375c&pli=1#), will

[2018-08-12 00:48] HEdingfield commented on #99
Agreed that the latter should work fine; filed #120.

[2018-08-12 00:48] #99 closed

[2018-08-12 00:51] HEdingfield commented on #98
The config creator GUI now has a pane on the right that allows viewing of the documentation. In the future, it'd be cool to work this in as interactive tooltips on each field instead.

[2018-08-12 06:30] tarheel commented on #84
Yes, we have an optional idColumnIndex param for reading the ballot ID from the CVR row. We also generate our own unique ID for each ballot.

[2018-08-12 20:46] moldover commented on #82
+1
I would propose a modification on Louis' idea.  Conceptually, load and validate are kept separate (but equal!):
loadElectionConfig returns a tuple of
1) List<String> configLoadErrors (empty if it loads and parses)
2) ElectionConfig (null if load fails)
These messages get displayed to user and GUI says config is not loaded if this fails.
If it loads, user can then trigger validation (or have it

[2018-08-12 21:26] moldover commented on #74
I share the same concerns as Hylton.  It's preferable to use absolute paths in general, but we could perhaps do something to "unofficially" support this and make file swapping easier: changing the system cwd to the config file folder before a tabulation run shouldn't be hard.

[2018-08-13 02:17] gngilbert commented on #96
What is PII?

On Sat, Aug 11, 2018, 8:03 PM HEdingfield <notifications@github.com> wrote:

[2018-08-13 03:11] tarheel commented on #96
Personally identifiable information. I think it gets included from your email signature when you comment via email.

[2018-08-15 17:57] HEdingfield commented on #53
From comments in #101:

[2018-08-15 17:59] HEdingfield commented on #120
Per conversation in #101, won't trigger validation on save so it's possible to save an invalid config. Will have a separate "validate" button in config creator to trigger validation.

[2018-08-15 18:29] #66 closed

[2018-08-15 18:30] #93 closed

[2018-08-15 18:31] #82 closed

[2018-08-16 06:08] tarheel opened #121 "improper ordering of exhaustion rules"
From Theodore Landsman (regarding the Maine primary tabulation):

@CalebKleppner's response:

[2018-08-16 08:10] HEdingfield commented on #120
Review [UI design doc](https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/edit#heading=h.gjdgxs) before closing this out.

[2018-08-20 02:08] #45 closed

[2018-08-20 02:11] HEdingfield opened #123 "Consider reorganizing config file parameters in config creator GUI"
[This comment](https://github.com/BrightSpots/rcv/issues/45#issuecomment-404650567) provides an example of a flow that might be more user-friendly.

[2018-08-22 17:45] HEdingfield commented on #59
This is most likely a thread concurrency issue. I've tried to address it so far by putting each of these at the start of `Main.executeTabulation()`:
[code]

And also:
[code]

But neither has worked. It's actually running in real-time in the console though, which implies it's the updating of the GUI TextArea that's not getting executed until later.

I checked  `Logger.addGuiLogging` and @moldover a

[2018-08-22 18:33] HEdingfield commented on #59
Nevermind, think I figured it out with [this](https://stackoverflow.com/questions/36638617/javafx-textarea-update-immediately)! Life without StackOverflow would suuuuuuck.

[2018-08-22 23:47] HEdingfield opened #124 "Fix console logging output"
See `// TODO: Prevent double-logging to console (i.e. why guiLogger is appearing in console at all?)`

Note how multiple logs appearing below in console (this is from a CLI run), and also the names of logs appearing and the inconsisent timestamp formats:

**$ java -jar rcv.jar test_data\config_maine_gov_primary_dem_2018.json**
[code]

[2018-08-22 23:50] HEdingfield opened #125 "Audit logs are too big to open"
After doing a single big run (e.g. config_minneapolis_2013_scale.json), the audit log is too big for even Notepad++ to open (700 MB!). We need to figure out a better way to generate these; maybe splitting at 50 MB or some other more reasonable number. Recommend looking up limits for basic text editors and complying with the lowest one.

[2018-08-23 01:45] HEdingfield commented on #115
@CalebKleppner please see my conversation with @tarheel below. For now I'm designing validation like he said (no duplicate names or codes allowed under any circumstances). Will keep this open until you verify that that sounds good, and we don't want to support the two cases I outlined.

[2018-08-23 03:29] tarheel commented on #59
![bitmoji](https://render.bitstrips.com/v2/cpanel/843d8074-e7bc-409c-aeb1-2caf9f50dbf9-0878c302-d67c-4bb7-80ba-b554896c3f48-v1.png?transparent=1&palette=1&width=246)

[2018-08-23 19:03] HEdingfield commented on #115
@CalebKleppner weighed in:

So it sounds like this issue will be resolved once #126 gets merged in!

[2018-08-24 01:56] HEdingfield opened #127 "Better handling of undeclared write-ins (UWIs)"
Currently UWIs are eliminated in the first round automatically, apparently even if they're in the majority. @tarheel suggests:

[2018-08-24 03:33] #59 closed

[2018-08-24 03:33] #109 closed

[2018-08-24 05:14] #120 closed

[2018-08-24 05:16] HEdingfield opened #128 "Address UI loose ends"
Review [UI design doc](https://docs.google.com/document/d/1jQmhIoHNo0cNxD8h3xDHmiGyvxaUwbFi0Ieh3-W-2_U/edit#heading=h.f0b27cp98y5j) with everyone and see if anything else should be taken from it. Now that all the pieces are in place, we can think a bit more about label language, user-friendliness, organization, flow, etc.

[2018-08-24 23:47] tarheel opened #129 "break up validate method in ElectionConfig"
This will make it more readable.

[2018-08-25 01:10] HEdingfield commented on #49
@moldover @tarheel Banged my head against the wall for 8 hours on this. I got it working without multi-threading, but can't seem to do it with (and we need multi-threading so the logging console updates in real-time, and also so the GUI doesn't go inactive when it's tabulating).

The most helpful post I've found so far was [this one](https://stackoverflow.com/questions/14941084/javafx2-can-i-pause

[2018-08-25 22:02] HEdingfield opened #130 "Get rid of unnecessary String.isEmpty() checks"
Finished resolving conversation in #126, which will require additional validation checks:

HEdingfield commented 2 days ago

tarheel commented 22 hours ago

[2018-08-26 06:16] #49 closed

[2018-08-26 06:16] #129 closed

[2018-08-29 16:18] HEdingfield opened #132 "Enable cancel during interactive tiebreaker"
Actually enable cancel button for interactive tiebreaker GUI, and also introduce cancel option for CLI version; see:

**Tabulator.java**
`// TODO: If returned eliminatedCandidate is null, infinite loop!`

**TieBreak.java**
[code]

[2018-08-29 16:19] HEdingfield opened #133 "Maybe add progress bar for GUI tabulation"
See:
https://stackoverflow.com/questions/34357005/javafx-task-update-progress-from-a-method

And:
https://stackoverflow.com/questions/23701639/call-tasks-updateprogress

[2018-08-29 16:24] HEdingfield opened #134 "Create save listener for GUI"
Modifying config file: after making changes, pressing validate doesn't save it, so it's easy to click menu button and lose all changes; probably need to make save listener after all.

[2018-08-29 16:27] HEdingfield opened #135 "GUI closing confirmation pop-up"
Should probably add for both main menu and config creator, e.g.:
https://www.youtube.com/watch?v=ZuHcl5MmRck&index=8&t=0s&list=PL6gx4Cwl9DGBzfXLWLSYVy8EbTdpGbUIG

Probably ties into #134.

[2018-08-29 16:29] HEdingfield commented on #44
Make sure to fix any specific xls references in code, e.g.:
`ExtensionFilter("Excel files", "*.xls", "*.xlsx")`

[2018-08-29 16:35] HEdingfield opened #136 "Align default values in ElectionConfig with GUI, and consider default values for all"
1. Make sure all the de facto default values in the `ElectionConfig` getters/setters align with the documentation and config creator GUI
2. Discuss pre-populating / offering default values for all fields

[2018-08-29 16:41] HEdingfield opened #137 "Highlighting fields that fail validation in config creator GUI"
This would probably require a fairly significant rework of the validation functions, but might be nice to implement using a similar technique as this:
https://youtu.be/cwJK_WpseKQ?t=5m43s

[2018-08-29 16:43] HEdingfield opened #138 "Better resizing reactivity in GUI"
- If window is super small, it should have scrollbars
- If window is fully expanded on desktop it should use the space better (especially config creator)
- It should adjust to resizing in between as expected too

[2018-08-29 16:46] HEdingfield opened #139 "Improve TextFieldListenerNonNegInt for config creator GUI"
`TextFieldListenerNonNegInt` isn't the best UX, since it just prevents the entering of invalid characters without giving any other feedback. Ideally we'd have a pop-up note that says "integers only" or something.

[2018-08-29 16:47] HEdingfield opened #140 "Improve the look of the GUI using CSS"
Tutorials 25-27 in this playlist give some examples:
https://www.youtube.com/playlist?list=PL6gx4Cwl9DGBzfXLWLSYVy8EbTdpGbUIG

[2018-08-29 16:52] HEdingfield opened #141 "Improve error messaging for IOExceptions when loading FXML files"
`Logger.executionLog(Level.SEVERE, "Failed to open: %s:\n%s", resourcePath, exception.getCause().toString());`

The above doesn't show a proper stacktrace; figure out how to improve upon this. Note: it can be triggered for testing by making an error happen in the config creator `loadConfig` function.

[2018-08-29 16:53] HEdingfield commented on #110
If we convert to Maven, we can probably delete the libs directory.

[2018-08-29 16:55] HEdingfield commented on #97
Should also take this opportunity to reorganize the order the fields appear in `RawElectionConfig` to match GUI and doc, since that's the order they render in the config files. I prefer to put required fields first.

[2018-08-29 16:58] HEdingfield opened #142 "Address Tabulator TODOs and FIXMEs"
**Tabulator.tabulate()**
[code]

**Tabulator.identifyWinners()**
`// TODO: some rules require >= instead of just > here`

[2018-08-29 19:01] CalebKleppner commented on #107
I think contest make sense (it refers to one race, as opposed to all the
races in a single election). We tabulate the CVRs in a single contest.

I think we should stick with "Candidates" and "Seats".  ("Number to be
elected" is a bit wordier than "Seats".  I don't know of any alternative
to "Candidates")

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 8/29/2018 1:20 PM, HEdingfield wrot

[2018-08-30 22:04] #97 closed

[2018-08-30 22:04] #107 closed

[2018-08-30 23:14] HEdingfield commented on #73
I was considering getting rid of the getters and setters entirely today, in favor of method 5 in the original article posted in this thread, but realized that, although they seem trivial, public getters and setters are necessary in the GUI for loading candidates and CVR file sources (it's a quirk of the `TableView` object).

Maybe we should just close this issue out at this point and leave `RawCon

[2018-08-30 23:53] HEdingfield commented on #135
Closing the GUI when in the middle of tabulating needs to kill all threads.

[2018-08-30 23:57] HEdingfield opened #145 "Validation doesn't throw error if config not parsed"
If a config file isn't parsed properly, validation just stops after "Starting validation..." without throwing an error.

Can repro this by making the Jackson `ObjectMapper` have no visibility (so it doesn't pick up anything when it parses the JSON):
[code]

[2018-08-31 01:14] CalebKleppner commented on #73
Hyton -- You're a monster -- you never stop.  I'm at Louis and
Charlotte's house.  We expect Jon in a bit.  Are you on your way?

Cheers,
Caleb

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 8/30/2018 4:14 PM, HEdingfield wrote:

[2018-08-31 03:51] tarheel opened #146 "change audit file format"
New format:
- First show how each CVR voted in the first round.
- Then, for each subsequent round, show any transfers.

This will allow us to generate the audit file on the fly instead of storing round-by-round data in each CVR object and then writing out the whole file after the tabulation completes.

[2018-08-31 03:55] tarheel opened #147 "reconcile multi-seat logic with Minneapolis results"
See Caleb's email.

[2018-08-31 04:09] tarheel opened #148 "figure out the path forward with Whitney's visualizer"

[2018-08-31 04:24] tarheel opened #149 "log progress periodically when we're loading CVRs"
Maybe every 10,000 records?

[2018-08-31 05:11] tarheel commented on #147
1. Calculate winning threshold based on first round active votes.
2. Threshold is integer: floor(value)+1

[2018-08-31 05:12] tarheel opened #150 "remove multiSeatTransferRule param"

[2018-08-31 05:13] tarheel opened #151 "review overvote options"
Caleb thinks we only need these three:
- always exhaust
- always skip to next rank
- exhaust if multiple continuing

He'll review with George.

[2018-08-31 05:24] HEdingfield opened #152 "GUI redesign"
* Get rid of the startup menu screen in favor of going straight to the config creator
* Move buttons to top above tabs; add buttons for new, load, tabulate, and quit
* Save button should read "Save..." to indicate that it'll summon a dialog
* A label at the top should communicate what's currently loaded (else say something like <new config>)
* Save listener (see #134) checks need to occur on new,

[2018-09-01 17:45] #73 closed

[2018-09-02 03:53] #150 closed

[2018-09-02 18:00] #121 closed

[2018-09-03 07:09] tarheel opened #155 "tabulation tally optimizations"
A couple changes that will make the code run faster:
1. In rounds 2+, if a CVR's selection from last round is still continuing, we can automatically select it again.
2. In multi-seat contests, we don't need to recompute winners' totals in subsequent rounds, because they'll never change.

[2018-09-04 01:38] tarheel commented on #147
@CalebKleppner: what about in a single-seat contest? Should we also calculate the winning threshold based on active votes in the first round for that case? The way we're doing it right now for single-seat contests is consistent with our current multi-seat logic. In other words, once someone has a majority of the active votes in the _current_ round, they win.

Should we change both single-seat and

[2018-09-04 18:08] HEdingfield opened #158 "Output correct execution logging path when program starts"
From conversation in #156:

Confirmed that this is visible to the user if they're using the console. Also looks like [it might be painful](https://stackoverflow.com/questions/38154158/how-can-i-output-the-name-of-the-current-java-util-logging-logger-log-file-name) to get the actual filename.

[2018-09-05 15:16] CalebKleppner commented on #147
There are several pieces to this issue. In either single or multi-seat, if there's a tie for the last seat, you have to break the tie to determine the winner, but you don't have to distribute votes (because # of candidates left = number of seats left).

As for threshold, for multi-seat, we compute it based on first round votes.  Election is over when all seats are filled OR number of candidate lef

[2018-09-06 02:51] tarheel commented on #149
This is done, yeah?

[2018-09-06 05:58] HEdingfield commented on #124
Fixed with #156.

[2018-09-06 05:58] #124 closed

[2018-09-06 05:59] HEdingfield commented on #53
Fixed with #156.

[2018-09-06 05:59] #53 closed

[2018-09-06 05:59] HEdingfield commented on #149
Fixed with #156.

[2018-09-06 05:59] #149 closed

[2018-09-06 16:16] gngilbert commented on #147
I concur with Caleb's summation of the rules regarding establishing thresholds:
  1.  Single seat threshold is established based on the number of valid ballots in each round
  2. Multi-winner threshold is established based on the number of valid ballots in the first round (There is a minor exception in Minneapolis law that says the "maximum possible threshold", which is applied to the initial "mar

[2018-09-06 20:11] gngilbert commented on #151
Agreed but we did not settle on whether to leave the other options for possible future use or to remove them.

Also discussed, without resolution, the implications of the third option, "exhaust if multiple continuing."  This is, or has been, used by a couple of jurisdictions.  The problem I have with it is that it treats ballots differently in early tabulation rounds than later rounds.  Clearly an

[2018-09-10 05:27] tarheel opened #160 "in macOS, app doesn't quit properly if file dialog is open"
If I have the load or save dialog open and close the main window, the dialog stays open. If I try to quit the app, nothing happens, even after I close the dialog. I have to kill the app by clicking the stop button in IntelliJ.

Similarly, if I have the dialog open and select java > Quit, it closes the main window, but not the dialog or the app as a whole, and I end up having to kill it.

[2018-09-10 05:32] tarheel commented on #151
OK. I guess my vote would be to leave support for all the variants in place in the code... unless we think they're going to confuse people.

[2018-09-10 16:54] HEdingfield commented on #160
Note: this appears to be a MacOS issue, as I'm unable to repro it in
Windows; everything works as expected there. Will test in Linux and report
back.

[2018-09-10 20:59] CalebKleppner commented on #151
My belief is that the following options are currently used in statute, so they should be listed first and in this order

exhuastImmediately
alwaysSkipToNextRank
exhaustIfMultipleContinuing

The following options are not currently being used (as far as I know).  If we want to keep them, let's list them last, and perhaps adds a (not supported), so they appear like this on the drop-down:

exhuastIfAn

[2018-09-15 23:37] tarheel commented on #127
@CalebKleppner said: "I do believe that's the concept of UWI:  it goes out in the first round no matter what, and can't win."

But if someone really wants to give UWI the chance to win in our tabulator, they can just not use undeclaredWriteInLabel, and UWI will be treated like a normal candidate.

[2018-09-15 23:37] #127 closed

[2018-09-16 02:54] #84 closed

[2018-09-16 05:59] HEdingfield commented on #84
Maybe the proposed long-term fix is worth filing as a separate issue beyond 1.0? Not sure.

[2018-09-16 06:28] HEdingfield opened #165 "Switch radio buttons to checkboxes"
Would probably simplify logic / allow us to get rid of setToggleBoolean() method.

[2018-09-16 06:43] tarheel opened #167 "ideal solution for source file column indexes"
Proposed long-term fix: UI should scrape column labels and present them in a dropdown for users to choose from

[2018-09-16 06:44] tarheel commented on #84
#167

[2018-09-16 06:44] #151 closed

[2018-09-16 18:20] HEdingfield opened #168 "Unable to run on Linux"
When attempting to debug #160, I was unable to get the tabulator running on my Linux machine.

Couldn't verify because:
`$ /usr/local/buildtools/java/jdk10-64/bin$ ./java -jar ~/Downloads/RCV_UniversalTabulator_20180908/RCV_UniversalTabulator_20180908/rcv.jar `

Would cause:

I initially assumed it was because there's no MANIFEST.MF file in the version @moldover compiled, but I also tried the vers

[2018-09-16 22:37] #134 closed

[2018-09-16 23:09] #146 closed

[2018-09-16 23:27] HEdingfield commented on #155
Anything left to do on this, or did #164 resolve it?

[2018-09-16 23:36] tarheel commented on #155
#164 did half of it (if the candidate a CVR selected last round is continuing in this round, automatically select them again). Still need to do this: "In multi-seat contests, we don't need to recompute winners' totals in subsequent rounds, because they'll never change."

[2018-09-17 00:00] tarheel commented on #147
@CalebKleppner @gngilbert: in terms of keeping our code straightforward, it's a bit easier to keep the current behavior: when a tiebreak is necessary, it always leads to an elimination, and we proceed to the next round. The alternative would be to add a minor wrinkle to the code: if we do a tiebreak and we see that this will leave us with exactly one continuing candidate and one seat to fill, we j

[2018-09-17 00:46] tarheel commented on #147
@CalebKleppner @gngilbert : Also, I made a couple updates yesterday to our code to get us closer to the official results for the 2013 Park Board race. I've compared our new results to theirs and identified just three minor remaining discrepancies. I'd appreciate your advice on how I should address them.

1. In our results spreadsheet, we report the "% of vote" column in each round based on current

[2018-09-17 00:57] tarheel opened #169 "round number confusion"
It looks like there's a bit of disagreement about which "round" an event happened in.

If you look at the [2013 Minneapolis Park results](http://vote.minneapolismn.gov/results/2013/2013-park-board-at-large-tab), the first eliminations and transfers are shown happening in round 2.

In the [2018 Maine results](https://www.maine.gov/sos/cec/elec/results/2018/democraticgovfinal.xls), the first elimina

[2018-09-17 02:16] CalebKleppner commented on #147
I think we should keep the current behavior:  when a tie is broken,
eliminate and proceed to the next round.  Same thing after eliminating a
candidate and the number of continuing candidates is equal to the number
of seats remaining: proceed to the next round.  Jurisdictions will
handle these situations differently, but as long as we give them all the
possible rounds, they can always go back and d

[2018-09-17 14:43] moldover commented on #125
@CalebKleppner do you have a take on this?  I just ran the scale test (by disabling the duplicate CVR check) and the new cleaner audit log format clocks in at  ~252MB.  Is it worth breaking this up into multiple output files?

[2018-09-17 19:37] gngilbert commented on #147
As long as we produce a round of results that match theirs, even if we add
a round, I agree with Caleb.

Gg

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Sun, Sep 16, 2018 at 10:16 PM, CalebKleppner <notifications@github.com>
wrote:

[2018-09-17 19:43] gngilbert commented on #147
See comments in line:

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Sun, Sep 16, 2018 at 8:46 PM, Louis Eisenberg <notifications@github.com>
wrote:

[2018-09-17 20:52] CalebKleppner commented on #125
Yes, we need to break them up into smaller chunks.  Any maybe create 3
separate log files:

1. full ballot info (rankings, precincts) and how ballot was counted in
round 1,
2. a file containing all transfers (round 3, ballot id 12345,
transferred from XX to YY, weight .37), and
3. a file showing how each ballot counted in each round  (ballot ID,
counted in round 1, counted in round 2, etc).

Or so

[2018-09-18 05:11] moldover commented on #125
@CalebKleppner @tarheel

Our understanding was to replace the existing audit format with what you are describing as #2 here.
I spent several hours on this Saturday: https://github.com/BrightSpots/rcv/issues/146
It seems like now you're saying you want BOTH formats in two or (three??) log files, which was not something we discussed.  Please be really specific about what you're looking for so we can

[2018-09-18 05:33] tarheel opened #170 "random seed for tiebreaking"
If tiebreakMode = random, we should require the config to specify a random seed also. This will ensure consistent results across runs.

[2018-09-18 08:32] HEdingfield commented on #170
Also recommend we add a button in the GUI to randomly generate a seed.

[2018-09-18 14:44] CalebKleppner commented on #125
Sorry, really was just thinking out loud about multiple audit files.  I
wasn't trying to give specific direction.

So I'd say that any file that exceeds 50MB should probably be broken
into chunks.

Jon, how 'bout if you give me a link to your 252MB audit log from your
scale test and I check it out for usability, etc.  Then we can think
more about the information and format we really want for the l

[2018-09-18 14:55] moldover commented on #125
We can make sure any log file bigger than 50MB gets split up.

Here's the latest output from the fake Mayor race.  I think this will be easier to work with than the "scale" test output.

[2018-09-17_21-51-43_audit.log](https://github.com/BrightSpots/rcv/files/2393214/2018-09-17_21-51-43_audit.log)

[2018-09-19 04:52] HEdingfield commented on #147
George, your comments didn't properly end up inline. You'll probably want to actually log into GitHub to respond to the post [there](https://github.com/BrightSpots/rcv/issues/147).

[2018-09-19 15:45] #165 closed

[2018-09-19 16:48] gngilbert commented on #147
Will do. Thanks

On Wed, Sep 19, 2018, 12:52 AM HEdingfield <notifications@github.com> wrote:

[2018-09-24 06:19] tarheel opened #174 "tabulation errors fail silently"
I noticed today that if you're using the GUI and the tabulation hits an exception (which should only happen if there's a bug in that code), the application doesn't report the problem. From the user's perspective, it just stops making progress.

To repro, just change the tabulator so that it unexpectedly throws a NullPointerException or something.

[2018-09-24 19:14] HEdingfield commented on #155
One thought occurred to me on this: even if a candidate is declared a winner, isn't it possible for them to get more votes in subsequent rounds? And, if so, shouldn't these be added to their totals just for the sake of accuracy in the final outcome?

[2018-09-25 16:05] moldover commented on #160
Fixed.

[2018-09-25 16:05] #160 closed

[2018-09-25 16:07] moldover commented on #125
Fixed.

[2018-09-25 16:07] #125 closed

[2018-09-25 16:09] moldover commented on #125
I'm going to just re-purpose this issue keep the history since it's more relevant to any updates to audit log format.

[2018-09-26 06:00] tarheel commented on #155
Good question, but that's not how multi-seat tabulation works. Once a candidate wins and their surplus is transferred, they're no longer considering a continuing candidate, so they don't accumulate any additional votes. As you imply, this does make the final outcome a bit unintuitive; you can't draw any conclusions by comparing the final totals of the different winners. (@CalebKleppner and @gngilb

[2018-09-26 06:10] tarheel commented on #155
How does the logic seem inaccurate? Or, to put it another way: how else could you design the process? Allowing the candidate to continue to accumulate votes would contradict the purpose of transferring their surplus vote when they first exceeded the winning threshold.

I suppose you could do something even more complicated: allow them to accumulate surplus votes, but fully recalculate their surplu

[2018-09-26 07:06] HEdingfield opened #176 "Change references to "config" to something more user-friendly"
Like "contest"?

Conversation in #172:

[2018-09-26 18:07] CalebKleppner commented on #148
Gents:  Whitney shared her login to Word Press, where all of their visualizer code is stored with the understanding that we would only use the info to download the code but not make any changes on the site.  Code is in php.  Here is the login information:

http://election-results.civicdesign.org/wp-login.php
User:	RCVRC
Pw:		N8CMMqzFv(%BTA%BcgpX%a6)

[2018-09-26 18:10] CalebKleppner commented on #148
Oops, didn't mean to close the issue.  Whitney told us a few things that are worth passing on:

First, when she used the visualizer for recently-created summary files, the system failed to read much of the data from the file.  She thought it might be a data-type problem, but even when she stored Excel data as numbers instead of text, the visualizer still failed.  She suggested looking at the files

[2018-09-26 20:34] CalebKleppner commented on #125
George and I discussed audit log formats and want to play around with some actual files to see if we can come up with log formats that are best-suited for how election administrators and election auditors will sue them.  Let's not play around with the actual file format any more until George and I get back to you.  As for the method of breaking up the audit logs into 50MB chunks and the file names

[2018-09-26 21:03] CalebKleppner opened #177 "New feature requested: ability to exclude a candidate from a tabulation"
The concept is pretty simple:  sometimes a candidate withdraws from a race (or dies), and the candidate receives votes in the CVRs.  When you run the tabulation, you want to skip to the next ranking anytime a CVR would count for the withdrawn candidates.  (This is also the way Cambridge fills a vacancy when a council member resigns, gets elected to another office, or dies:  they re-do the tabulati

[2018-09-27 12:28] CalebKleppner commented on #155
And even the order in which a candidate reaches the threshold doesn't
really mean anything.  There are ways of assessing overall level of
support for candidates but order of election is a pretty arbitrary one.

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 9/27/2018 12:23 AM, gngilbert wrote:

[2018-09-28 06:03] tarheel opened #178 "simplify updatePastWinnerTallies logic"
Instead of counting CVRs here, we should do the count at the same time we record a winner and transfer their votes. This will be slightly more efficient and should make the code easier to follow.

[2018-09-28 21:10] tarheel commented on #147
@gngilbert @CalebKleppner Check out the latest version of the code: https://drive.google.com/open?id=1DKfIhi2e9w0sGxgY1CKMXRLYZneQ59PM

With those code changes and the adjusted config (changing decimalPlacesForVoteArithmetic to 4), our results for the 2013 Park Board contest now match the official results, except for the minor issues discussed above related to which round certain things should hap

[2018-09-30 21:07] gngilbert commented on #147
Downloaded RCV_UniversalTabulator_20180928.  Attached are the test files I
am using and results.  Issues I see:
1.  Audit log:  "unexpected cell type...."
2.  Audit log:  In Round 1, Ballot 9 is "exhausted" even though Max Skipped
Rankings Allowed is set to 1 in Config file. The Skip 1 rule appears to be
working correctly in subsequent rounds, eg. Ballot 1 in Round 2.
3.  Summary:  "Threshold" is

[2018-09-30 22:47] tarheel commented on #147
@gngilbert: your attachments didn't come through. Could you send them in a separate email thread? I want to review them before I answer your questions.

[2018-10-01 14:17] CalebKleppner commented on #147
Not sure what you mean by "ballot index." The audit log includes a
unique ballot ID that it assigned to every CVR read during the
tabulation.  That's the unique way of identifying a ballot in the audit log.

Here is an example of a line from the audit log showing how a ballot
counted in every round:

Mon Sep 17 16:40:23 EDT 2018 FINER:  [Computed ID]
exhaustedByOVandUV.xlsx(6) [Precinct] 14 [Round

[2018-10-01 16:16] gngilbert commented on #147
I figured I might be overlooking something. Thanks for pointing out the
obvious.

On Oct 1, 2018 10:17 AM, "CalebKleppner" <notifications@github.com> wrote:

Not sure what you mean by "ballot index." The audit log includes a
unique ballot ID that it assigned to every CVR read during the
tabulation.  That's the unique way of identifying a ballot in the audit log.

Here is an example of a line from

[2018-10-02 19:06] gngilbert commented on #147
Louis, did you get the files I sent separately regarding the multi-winner
test set? If not, let me know and I will provide them some other way.

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Sun, Sep 30, 2018 at 6:47 PM Louis Eisenberg <notifications@github.com>
wrote:

[2018-10-03 00:09] tarheel commented on #147
Yes, thanks. Just haven't had a chance to review them yet. Will do later this week or weekend!

[2018-10-03 03:11] gngilbert commented on #147
Good. Thanks.

Gg

On Tue, Oct 2, 2018 at 8:09 PM Louis Eisenberg <notifications@github.com>
wrote:

[2018-10-07 15:55] CalebKleppner commented on #177
In the GUI, I imagine radio button or check marks next to cand names and codes to indicate excluded cands.

If you have states for cands, such as elected, eliminated and continuing, perhaps excluded becomes another.

---
Caleb Kleppner
MK Elections
203-376-4080

---- On Sat, 06 Oct 2018 17:19:49 -0500 notifications@github.com wrote ----

This is easy to support in the tabulation logic.

@HEdingfie

[2018-10-07 20:52] tarheel commented on #177
Yeah. I'm just wondering how we can make this option as unobtrusive as possible in the UI, since it will rarely be used.  But I guess it's OK if we have a checkbox or a dropdown with the normal option selected by default.

[2018-10-08 02:16] tarheel opened #179 "fix audit log path in output"
When tabulation completes, it says something like this:

2018-10-07 19:12:47 PDT INFO: Done logging tabulation to: /Users/leisenberg/code/rcv/test_output/multi_winner_2/2018-10-07_19-12-46_audit_%g.log

That %g is going to confuse people, and it doesn't seem necessary for a log file corresponding to a single tabulation (vs. the overall rcv.log file).

[2018-10-08 02:30] tarheel commented on #147
Oh, that happened because you had firstVoteColumnIndex = 1. We recently updated the code to start the column indexes at 1 instead of 0, so now Column A in Excel corresponds to 1, B to 2, etc. Apologies if we neglected to inform you of this change.

Ah, this was another symptom of the issue I mentioned above. If you fix that, both problems go away.

Oh, yeah, that displayed threshold is not quite a

[2018-10-08 02:38] tarheel opened #180 "better handling of "unexpected cell type" error"
If you look at George's comment on 9/30 in #147, he got a bunch of "unexpected cell type" errors when he ran his multi_winner_2 test because his firstVoteColumnIndex was mistakenly pointing at the column with the ballot IDs, which contains cells that are numeric instead of string. The problem is that the code just logs a warning for this and then keeps reading the CVR, so he didn't realize there w

[2018-10-08 18:04] gngilbert commented on #147
I am confused about what the "index columns" mean.  Maybe one of you guys
can explain that to me during our call this evening.

Also, as you will see from my "expected outcome" table, I anticipate that
any surplus is to be distibuted in the round following its accrual.  The
tabulator does not appear to do that.  Is this because of the way
Minneapolis does its surplus distribution,,,,postponing it

[2018-10-08 18:05] gngilbert commented on #147
Attachments:

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Mon, Oct 8, 2018 at 2:03 PM George Gilbert <
george.gilbert@rankedchoicevoting.org> wrote:

[2018-10-08 19:22] tarheel commented on #147
Attachments don't work when you're posting a GitHub comment. Could you send
them separately? Then, when I have a chance, I'll review your questions.

"Index columns": these just tell the application where to look for various
things. We number the columns in the spreadsheet starting from 1. So if
each CVR row has its first ranking in the second column (a.k.a. Column B in
Excel), then you should set

[2018-10-08 19:40] gngilbert commented on #147
Thanks for the index explanation. I think I understand now. I will send the
attachments via separate email

On Mon, Oct 8, 2018, 3:22 PM Louis Eisenberg <notifications@github.com>
wrote:

[2018-10-08 21:54] gngilbert commented on #147
Running my test set "Multi-winner_CVR_2.xlsx" I believe Candidate C should
have been declared a winner in Round 2 and the surplus redistributed as
Round 3 (The threshold, by my calculation, should be 7.25+.  C had 8 votes
in Round 2).  The tabulator eliminated candidate "F" in Round 2 even though
candidate C had surpassed the threshold and waited until after Round 3 to
declare C a winner.  This ha

[2018-10-08 22:22] gngilbert commented on #147
One thought I had is that the tabulator maybe requiring a plus one vote in
order to declare a winner. It should just be a + whichsoever and could be
fractional.

On Mon, Oct 8, 2018, 5:53 PM George Gilbert <
george.gilbert@rankedchoicevoting.org> wrote:

[2018-10-08 22:33] tarheel commented on #147
We agreed with @CalebKleppner earlier in this thread that the multi-winner threshold should be:

floor(numVotes / (numSeats + 1)) + 1

Where numVotes is the total votes in the first round, and floor is a function that rounds down to the nearest integer.

I don't have time to review your specific example at the moment, but will later.

Anyway, I'm fine with whatever, but we need consistent guidance

[2018-10-09 03:10] tarheel opened #181 "finalize and implement new output format(s)"
We need output that's both human-readable (like our current XLSX) and suitable as an input to the visualizer.

My recommendation is to have two separate outputs; I worry that otherwise we'll be continually making compromises between the two use cases, which are quite different.

If we do it this way, the tabular output can remain similar to what we have now (but switch from XLSX to CSV/ODS), and t

[2018-10-09 15:20] moldover commented on #181
I played around with some csv fomats and reached the same conclusion: no clean way to support both batch elimination and provide vote redistribution info to support the sankey visualization in CSV.  @CalebKleppner says we can forego batch elim for the visualizer, which is good, but I think there's a case for unit testing wanting to know about batch elim (maybe other odds and ends too) which leans

[2018-10-09 20:27] gngilbert commented on #147
Regarding the calculation of threshold for multi-winner RCV, the Flow
document (on pp. 21-22) states:

"A formula for the threshold can be expressed as:

            T = B / (S + 1) + X

where T is the threshold, B is the threshold base, S is the number of seats
to be filled, and X is some small extra amount between zero and one.

There are two approaches for matching the threshold comparison to t

[2018-10-12 20:56] CalebKleppner commented on #177
In the blank column to the right of "Code", let's just have a column labeled "Exclude?"  It's got check boxes that are by default empty.  If you want to exclude one or more candidates, you just check the box:

![image](https://user-images.githubusercontent.com/41450076/46893604-7cfcbd80-ce3f-11e8-9bac-7063da24debb.png)

[2018-10-12 23:02] CalebKleppner commented on #147
Sorry 'bout the confusion over the threshold calculation.  George and I think we really need to have the option to choose a whole number threshold [ floor(S/(V+1)+1) ] as well as a decimal threshold, as in SB 1288.  So we need to work into the UI the ability to choose whole or decimal and within decimal, we need to be able to choose n and d, where threshold = V/(S+1) +n, expressed with d decimals,

[2018-10-12 23:11] CalebKleppner commented on #147
PS I think using round_up(B / (S + 1), num_decimal_places) as you indicate in SB 1288 means we don't need the user to specify "n" above.  (The rounding up, as opposed to truncating, means a candidate needs more than B/(S+1), which means you can elect no more than S candidates), so Louis, your comment from 10/10 ("One option would be to let the config specify whether to use the Minneapolis threshol

[2018-10-16 14:43] moldover commented on #181
@tarheel @HEdingfield I changed over the existing output to csv and am moving on to the json output + transfer counts for the sankey plot.  To refresh, I'm thinking of the "transfer counts" as a list (or multiple lists if there were multiple winners or losers in a given round) which shows how many votes transferred from each winning/losing candidate to other candidates, for that round.  Something

[2018-10-16 19:36] tarheel commented on #181
Yeah, you could keep running totals by updating a map from roundNumber to fromCandidate to toCandidate to tally: a `Map<Integer, Map<String, Map<String, Integer>>>`.

[2018-10-17 04:02] moldover commented on #181
Yep, that's what I have.  Thanks.

[2018-10-20 20:37] CalebKleppner commented on #170
I am not sure we need to sweat this detail.  Random can be random, and the way you test whether it's random is to run the same election with a tie many times to see if the tie gets broken an approx. same number of times for each choice (could be more than 2).

[2018-10-20 20:42] #148 closed

[2018-10-23 15:49] moldover commented on #169
I just "fixed" the summary spreadsheets so they are consistent with Minneapolis and our audit log.  I agree this is more sensible, although I think a better format would not combine actions with counts in a single column:

Counts 1   Actions 1  Counts 2  Actions 2
 10                                15            winner
 5                eliminated  0
 9                                   9

[2018-10-23 15:53] moldover commented on #44
Done.  Existing xlsx references are for input cvrs and should remain.

[2018-10-23 15:53] #44 closed

[2018-10-25 03:01] moldover commented on #169
Given that we don't display transfers on the summary report anymore, and the actions are consistent, can we close this issue, or is there something more to do here?

[2018-10-25 03:12] tarheel commented on #169
I'll take this and do one more pass over everything to confirm that it's consistent.

[2018-10-26 15:02] moldover commented on #181
I'm closing this as the new formats have been "implemented".  There will undoubtedly be revisions to them, but those can be new issues, more specific to the task at hand.

[2018-10-26 15:02] #181 closed

[2018-10-26 15:14] moldover commented on #179
dupe of https://github.com/BrightSpots/rcv/issues/158

[2018-10-26 15:14] #179 closed

[2018-11-11 23:52] tarheel commented on #147
OK, finally reengaging with this thread...

So here's where we stand:

This is how the code works now, except it's requiring the candidate to exceed the threshold. I'm fairly confident that this bug is why you had the unexpected test set result that you mentioned. I'll correct the code so that it merely requires equaling the threshold in this case.

One aspect I'm still unclear on: why should an o

[2018-11-12 00:16] tarheel commented on #169
@moldover: OK, yeah, it seems like we're being consistent now.

[2018-11-12 00:16] #169 closed

[2018-11-12 22:14] gngilbert commented on #147
I don't think we are suggesting that the operator select the value of n. My
understanding is that n would be the smallest non-zero amount yielded by
rounding up to "d" decimal places (in which case I personally don't
understand why it requires an "exceed" criterion. Seems to me an "equal or
exceed" would be appropriate.)

I sent you (Louis) an email on Oct. 22 with an attachment from a
communicati

[2018-11-13 20:08] CalebKleppner commented on #147
George -- Our Oct 22 email on this topic very much indicated that the
user needed to be able to select the value of n (the amount to be added
to V/(S+1) before rounding):

    2. "Fractional threshold; exceed criterion", formulas is V/(S+1)+n,
    round
    up to d decimals, candidate can only be elected by *exceeding*
    threshold.

    So our GUI needs to add:

    Threshold: whole or fractiona

[2018-11-13 21:01] gngilbert commented on #147
The part I don't understand is that if we round up, why is it not "meet or
exceed?"

On Tue, Nov 13, 2018, 12:08 PM CalebKleppner <notifications@github.com>
wrote:

[2018-11-17 05:37] HEdingfield opened #185 "Tabulating by precinct doesn't output JSON summaries"
The JSON summaries aren't generated when using the "tabulate by precinct" setting, just the CSVs (related discussions in #181 and #105).

[2018-11-17 05:40] HEdingfield opened #186 "Summary CSVs have redundant column"
The new format introduced in #181 adds an extra unnecessary column at the far right of the results that just duplicates the info in the last round. E.g.:

rounds | Round 1 | Round 2 |  
-- | -- | -- | --
DEM Golden, Jared F. | 63 | 66 | 66
REP Poliquin, Bruce | 48 | 48 | 48
Hoar, William R.S. | 5 | 0 | 0
Bond, Tiffany L. | 2 | 0 | 0
Undeclared | 0 | 0 | 0
Exhausted ballots | 0 | 4 |  

[2018-11-19 05:34] moldover commented on #147
Sorry to jump in out of the blue here.  This is addressed in the NIST flow doc pretty concisely (although I had to read it 5 times and counting) but I think Caleb has the comparison operators switched.  Here's what I think we should do:

We allow operator to specify in config to use method 1 or 2:

1)   >= comparison (greater than or equal) and "x" is the smallest decimal value for rounding precis

[2018-11-21 07:17] moldover opened #188 "Use event driven (read-only) model for parsing xlsx files"
https://stackoverflow.com/questions/13020658/error-while-reading-large-excel-files-xlsx-via-apache-poi

http://poi.apache.org/components/spreadsheet/index.html

[2018-11-21 08:17] HEdingfield commented on #188
This was sparked by email thread "CVR from Maine CD2" where @CalebKleppner was unable to complete tabulation of `cvr_2018_maine_governor_primary_dem.xlsx` on a Win 7 machine with 8 GB of RAM. Anything above 200k records would cause the tabulator to run indefinitely.

We should circle back with this machine / config once the fix is in to verify.

[2018-11-21 16:05] CalebKleppner commented on #188
Just had a discovery about the annoyance of Java updates:  I had JRE 10 on my Win 7 machine.  Java wanted me to update, which led to uninstalling Java 10. At which point, I had no Java on my machine.  So I installed JDK 11, but guess what?  JDK 11 no longer includes JRE, so our tabulator doesn't run.  So I think you can either install JDK 10 (which is no longer available from Oracle website) or yo

[2018-11-22 04:39] moldover opened #189 "Output vote transfers per precinct in JSON files"

[2018-11-22 04:50] #177 closed

[2018-12-05 05:41] #186 closed

[2018-12-05 15:13] moldover commented on #185
Fixed.

[2018-12-05 15:13] #185 closed

[2018-12-11 19:42] #147 closed

[2018-12-15 04:38] progressnerd opened #193 "Add firstVoteRowIndex configuration parameter"
Similar to firstVoteColumnIndex, it enables the use of CVRs where the first vote doesn't begin in row index 1.

[2018-12-15 18:45] HEdingfield commented on #193
@tarheel @moldover given that the tabulator is trained to ingest certain known formats, would this fit in ok?

[2018-12-17 01:56] tarheel commented on #193
Yeah, this is easy and we should do it. @progressnerd: do you need this now, or is it just something that you figured would be useful at some point in the future?

[2018-12-17 06:24] moldover opened #195 "Support precinct summary file comparison for regression testing"
Regression tests need to compare actual tabulation result file to expected result files.  Our tabulator "discovers" precinct IDs during the course of tabulation.  We would need some way of exposing these IDs to the test harness, and mapping them to a list of known files.

[2018-12-17 06:29] moldover opened #196 "Create regression tests for contests pt 1"
2013 minneapolis mayor scale
2013 minneapolis mayor
2013 minneapolis park
2015 portland mayor multi
2015 portland mayor codes
2018 main gov primary dem

[2018-12-17 06:31] moldover opened #197 "Create Herb60 and maybe tiebreak regression tests"
I'm not sure how these are supposed to play out.
Multi_winner_Herb60
test_tiebreak

[2018-12-17 17:21] moldover commented on #188
@CalebKleppner could you try re-running your test with the latest version:

https://drive.google.com/drive/folders/1uwn6UrHPSsbIGj3XiWErSwg-ysag5TEm

[2018-12-19 14:41] moldover opened #198 "Refactor Main.java into TabulationSession class"
This has 2 goals:

1) We need to add state to support testing.  For example, for issue #195 we need some way of storing which precinct ids were discovered during cvr parsing, and then mapping them to output summary files to ensure that code is stable for regression testing.

2) There is a bunch of processing logic which doesn't belong in a Main class (executeTabulation, loadContestConfig, etc.) an

[2018-12-19 19:25] progressnerd opened #199 "Make Max Rankings and Max Skipped Rankings Optional"
Can these just default to unlimited, or equivalently, the number candidates?

[2018-12-19 19:41] progressnerd opened #200 "Infinite loop with "Continue until two candidates remain""
I hit an infinite loop when using "Continue until two candidates remain." The number of rounds never terminates.

My JSON config (as a txt because github doesn't allow .json attachments):
[president.json.txt](https://github.com/BrightSpots/rcv/files/2696284/president.json.txt)

My CVR:
[Test-Ballot-President.xlsx](https://github.com/BrightSpots/rcv/files/2696289/Test-Ballot-President.xlsx)

[2018-12-19 23:18] tarheel commented on #200
Thanks for catching this! I'll take a look soon.

[2018-12-19 23:19] tarheel commented on #199
This seems reasonable to me.

@HEdingfield, @moldover: any objection?

[2018-12-19 23:34] tarheel commented on #198
Sounds fine to me. Since you have a clear sense of what's needed here, do you want to take it?

[2018-12-21 07:41] moldover commented on #199
No objections here, sounds like a good idea.  I'd suggest a default setting of 0 means limits are "number of declared candidates".  "Unlimited" seems confusing as terminology since one couldn't physically rank (or skip) more than max candidates on a ballot anyways.

[2018-12-21 14:03] progressnerd commented on #199
"Number of candidates" sounds good to me. 0 is already a valid value for "max skipped rankings," though, I think.

[2018-12-21 14:56] moldover commented on #199
I just realized that too, whoops.  Maybe just spell it out like "numDeclaredCandidates".

[2018-12-21 17:01] tarheel commented on #199
I would prefer to use null/blank to denote no limit. That feels more intuitive to me, provided we can get the UI to handle it properly.

[2018-12-21 17:02] tarheel commented on #199
(And note that the number of declared candidates isn't necessarily the same as unlimited, because there could be write-ins.)

[2018-12-25 14:31] CalebKleppner commented on #188
I ran both Maine Dem gov primary and CD2 General, and they both ran very
rapidly with no crashes or hangups, so I think you all solved the
problem that was causing crashes on the Win 7 machine when the CVR files
got too big.

Just ran an excellent multi-seat test:  2707 votes, 30 candidates,
electing 12.  Using an integer threshold and 6 decimals for
calculations, our numbers matched ChoicePlus Pr

[2018-12-27 07:09] #188 closed

[2018-12-28 00:49] #200 closed

[2018-12-28 06:42] #193 closed

[2019-01-02 05:40] tarheel commented on #104
@CalebKleppner: given your last comment, should we move this to the "v1.1 Future" milestone?

[2019-01-02 05:45] tarheel commented on #118
2018 mayor and D8 Supervisor:
- CVRs: https://sfelections.org/results/20180605/data/20180627/20180627_ballotimage.txt
- key: https://sfelections.org/results/20180605/data/BallotImageRCVhelp.pdf

[2019-01-02 05:48] tarheel commented on #118
2016 various district supervisor races:
- CVRs: http://www.sfelections.org/results/20161108/data/20161206/20161206_ballotimage.txt
- key: https://sfelections.org/results/20161108/data/BallotImageRCVhelp.pdf

@CalebKleppner @gngilbert are there other jurisdictions that use Sequoia that we should be looking at? It would be helpful to get a sense of how much variation there is in the ballot image for

[2019-01-02 05:49] tarheel commented on #119
@gngilbert @CalebKleppner do you know how we can get this data?

[2019-01-05 01:21] CalebKleppner commented on #104
Yes, definitely v1.1 Future that issue, as with other data formats that
we don't have good specs for (Dominion, Hart?).  I'll have to look at
variations on Dominion data, but I think they key places that use it are
San Francisco and Alameda County (Oakland, Berkeley and San Leandro).

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 1/2/2019 12:40 AM, Louis Eisenberg wrote:

[2019-01-06 04:49] gngilbert commented on #119
I believe I have the data from Santa Fe. I will try to get it uploaded tomorrow and we can discuss it. I could not figure it out. We may have to talk to Dominion.

[2019-01-06 04:51] gngilbert commented on #118
The only others that I think use it are the Alameda County cities. We can
look at those and I think they will have downloadable CVRs as well.

On Wed, Jan 2, 2019, 12:48 AM Louis Eisenberg <notifications@github.com>
wrote:

[2019-01-07 02:36] tarheel opened #205 "bugs in JSON summary"
Armin's tests with 2013_minneapolis_park and 2017_minneapolis_mayor revealed a few bugs in our code:
- 2013 park: the tally says UWI, but then we eliminated Undeclared. These strings should match.
- 2017 mayor: UWI's tally is 137, but when Undeclared is eliminated, only 136 votes are accounted for in the transfers.
- 2017 mayor: Theron Preston Washington should have an empty transfers map when the

[2019-01-07 22:32] gngilbert commented on #119
I think I have attached the Santa Fe CVR files here.  Not sure how this works.  If they are not attached, I can send them attached to an e-mail.

[drive-download-20181214T175737Z-001.zip](https://github.com/BrightSpots/rcv/files/2734516/drive-download-20181214T175737Z-001.zip)

[2019-01-07 23:07] tarheel opened #207 "enable editing of candidates and CVR source files in GUI"
Currently this isn't possible. If you want to edit an item, you have to remove it and re-add it.

[2019-01-08 03:49] HEdingfield commented on #207
No out-of-the-box support for this with the `TableView` class unfortunately, but there are a [couple](https://www.youtube.com/watch?v=_FBPukQOLCY) of [videos](https://www.youtube.com/watch?v=z4LVoLg6ch0) that demo this.

[2019-01-08 17:41] gngilbert commented on #207
While it would be very useful to me in testing, I agree that it is not critical at this point.  However, at the point where independent users are using it regularly, it would make a big difference to some of them.  We can put it on hold for now if it is problematic but let's not forget it.  thanks.

[2019-01-08 18:05] #205 closed

[2019-01-17 17:15] moldover opened #210 "Clean up ContestConfig construction and validation"
Config validation and construction code in TabulatorSession.loadContestConfig should be moved and consolidated with existing code in ContestConfig.java

[2019-01-18 19:52] CalebKleppner commented on #207
UI that changes would be nice at some point:  a) an edit button on the candidates tab so that you can change the spelling of a name, add or change a code and switch a candidate to or from excluded.  Generally, we just enter a candidate name and then click “Add”, so the add button should be immediately to the right of Name * (and one tab away).  Then we should have the box for Code, the check box f

[2019-01-18 20:00] CalebKleppner commented on #105
I recognize that you can't have multiple tabs in a .csv file.  Here are 3 ways can address this:

1. Switch to an .xlsx format for the precinct report and have one tab per round (boo! proprietary file format)
2. Switch to one .csv file per found (I can live with that, but it could be a silly number of files being output, e.g. 500 or 5,000 files)
3. Instead of putting round 2 in a separate tab or f

[2019-01-18 21:15] gngilbert commented on #207
All sounds good to me.

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Fri, Jan 18, 2019 at 2:52 PM CalebKleppner <notifications@github.com>
wrote:

[2019-01-19 20:41] tarheel commented on #105
I don't have a strong opinion here. I agree that our current practice of generating a separate file per precinct is unwieldy.

I think a single file would be the best user experience. If we feel strongly about avoiding proprietary formats, though, is .ods an option? But most people don't know what that is...

[2019-01-21 19:12] HEdingfield opened #211 "Safeguards against changing "if not supplied" behavior in future versions"
PR #203 included the following conversation:

This solution mostly addresses the problem I brought up, but it seems to me that we'd have to be very careful to not modify "if not supplied" behavior in future versions. Any thoughts on how to safeguard against this, or arguments against it being necessary?

[2019-01-21 19:17] HEdingfield opened #212 "At test / CVR for maxSkippedRanks edge case"
Add a test config and CVR that pushes the edge case for max skipped ranks allowed being unlimited.

[2019-01-21 22:41] #199 closed

[2019-01-22 16:39] CalebKleppner commented on #105
I agree that a single file would be the best user experience.  Let's just use a .csv in my option 3 above:  candidate totals are columns, precincts are rows, and you first list round 1 vote totals (all candidates, all precincts), then below that you list round 2 totals, and so on.  So a tabulation run with precinct report will have the following outputs:

summary (.csv)
summary (.json)
precinct (.

[2019-01-23 14:31] moldover commented on #196
Done PR #209

[2019-01-23 14:31] #196 closed

[2019-02-01 08:34] tarheel opened #215 "handle residual surplus"
Once #214 is in, we'll have the possibility of "residual surplus": because we round down fractional vote transfers, we may end up subtracting slightly less than the full surplus from a winning candidate. For now we just leave that extra bit in the candidate's vote total, but @gngilbert has suggested that we could remove it and transfer it to a separate "residual surplus" tally.

[2019-02-01 18:11] tarheel opened #216 "move multiply and divide methods from ContestConfig to Tabulator"
divide is only used in Tabulator, but multiply has a callsite in CastVoteRecord.

[2019-02-04 05:46] tarheel opened #217 "GUI adds fullFilePath to config"
@moldover: this looks like an unintended consequence of your recent changes. If you save a config using the GUI, it adds both `filePath` and `fullFilePath` to each entry within `cvrFileSources`.

[2019-02-04 16:06] moldover commented on #217
good catch.  seems like the objectWriter now calls every "getter" including getFullFilePath.  Changing the name to something else fixes it.  Will see if there's some other solution.

[2019-02-04 16:22] moldover commented on #217
Fixed.

[2019-02-04 16:22] #217 closed

[2019-02-05 02:57] #210 closed

[2019-02-05 03:00] #96 closed

[2019-02-05 03:36] moldover opened #218 "Cleanup realtive pathing feature"
The relative pathing abstraction is not quite right.  The root path for a config should be part of the ContestConfig object and not (as is currently done) cached in FileUtils.

[2019-02-05 19:30] gngilbert commented on #207
We have been approached by ES&S regarding their interest in partnering with us to offer several Utah jurisdictions a combination of ES&S voting system and the UTab Software to conduct RCV elections this spring.  As I understand it, both Utah jurisdictions with spring elections include multi-winner offices that will likely employ the "sequential tabulation" process.  It would definitely be best if

[2019-02-05 19:36] tarheel commented on #207
That's exciting! @HEdingfield is the best person to comment on the difficulty.

[2019-02-05 19:42] gngilbert commented on #207
I figured Hylton would be the one.  Lots of exciting prospects out there
right now.
BTW, I sent you the CVR file.  Sorry about the mix up last night.

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Tue, Feb 5, 2019 at 2:36 PM Louis Eisenberg <notifications@github.com>
wrote:

[2019-02-06 08:16] HEdingfield commented on #207
I could probably get editing existing entries for candidates and CVRs done next week. We wouldn't need an "edit selected" button, because I could probably make it so you just double click on the entry in the table you want to edit to change it.

@CalebKleppner you can already sort by any field you want by just clicking the column header at the top. Did you need something more than this?

[2019-02-07 05:28] HEdingfield opened #221 "Please move the contents of `rcv\tests` into `rcv\src\test\java`"

[2019-02-07 06:30] #218 closed

[2019-02-09 17:44] moldover commented on #216
@tarheel after understanding the nuance involved with rounding down in recordCurrentRecipientAsWinner, I think it makes more sense NOT to have rounding mode as an internal constant; clients using the vote-math api (wherever it ends up) need to be very aware of the details in rounding mode (and residual, etc.).  To that end, shouldn't we expose that in the api and force callers to decide what they

[2019-02-10 18:51] tarheel commented on #216
Um, yeah, that sound reasonable.

[2019-02-10 23:57] HEdingfield opened #222 "Replace deprecated XMLReaderFactory.createXMLReader()"
According to [this](https://stackoverflow.com/questions/51072419/how-use-xmlreaderfactory-now-because-this-is-deprecated), it should be relatively straightforward to replace this line:

`XMLReader xmlReader = XMLReaderFactory.createXMLReader();`

with this one:

`XMLReader xmlReader = SAXParserFactory.newInstance().newSAXParser().getXMLReader();`

However, the `parseCVRFile` function returns an em

[2019-02-11 02:05] #221 closed

[2019-02-13 20:23] tarheel commented on #215
Questions:
- What should we show in the CSV? Should there be a separate row for residual surplus, perhaps just above or below the exhausted row?
- What should we show in the summary JSON and the visualizer? Hard to imagine that it would be useful to show this in the visualizer unless we can do it a really unobtrusive way.

[2019-02-13 22:46] gngilbert commented on #215
@tarheel
Lets include the residual surplus in the csv file.  I would put it on a line below "exhausted ballots" and change "exhausted" to "Inactive."

Definitely do not want to include it in the visualizer.  If leaving it out of the .json summary file is the easiest way to do that, that will be fine.

[2019-02-13 22:47] gngilbert commented on #215
Is it a problem that residual surplus applies only to multi-winner contests! @tarheel

[2019-02-13 23:08] tarheel commented on #215
Um, I don't think so. What exactly is your concern? We just wouldn't show it at all for single-seat contests.

[2019-02-13 23:14] gngilbert commented on #215
Not a problem.  Just don't want that line to appear in a single-winner contest .csv

[2019-02-14 07:20] HEdingfield commented on #139
I think it should be safe to remove this entirely now that I've added some additional checks in PR #224. Just need to be careful about how it behaves around converting invalid characters like text into null values, i.e. are there any surprising / unexpected behaviors as a user when entering a string in an integer field and it just ends up as null after submitting?

[2019-02-14 07:23] HEdingfield opened #225 "Get rid of checkBoxCandidateExcluded"
Get rid of checkBoxCandidateExcluded in the "add" section at the top of the Candidates table now that it's easy to toggle this in the list itself. Does this sound ok with you guys, @tarheel @CalebKleppner ?

[2019-02-14 07:24] HEdingfield commented on #139
Probably also use this as an opportunity to deal with
`// FIXME: If user enters bad data, value is nulled out instead of reverting to previous value`
(or not, depending on what we decide)

[2019-02-14 07:26] HEdingfield opened #226 "Sorting columns in GUI tables can behave unexpectedly"
Sorting the Exluded column (with the checkboxes) behaves strangely, as does sorting columns like Code with mixture of "" and null values in them (since these look the same to the user, but sort differently in the backend).

[2019-02-14 07:27] HEdingfield commented on #43
This popped into my consciousness again when working on stuff recently: we should output the config file along with the csv and visualizer json whenever we run the tabulator.

[2019-02-14 13:44] CalebKleppner commented on #225
Yes, a good idea, makes entering candidates easier and better to check
and uncheck the exclude button in the list.

Thanks,

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 2/14/2019 2:23 AM, HEdingfield wrote:

[2019-02-14 16:39] tarheel commented on #225
Sure.

[2019-02-14 19:33] HEdingfield opened #227 "New and Load buttons can stop working"
If you create a new config, click load, save it first following the prompt, then cancel out of the load, it breaks the New and Load buttons.

[2019-02-15 07:11] #207 closed

[2019-02-15 07:11] #225 closed

[2019-02-15 07:11] #227 closed

[2019-02-23 23:19] gngilbert commented on #215
Any way we can get this completed by early in the week?  We are getting down to our deadline with the Voting Methods Working Group and the VVSG development process.

[2019-02-24 05:55] tarheel commented on #215
I'll do my best!

[2019-02-24 19:34] gngilbert commented on #215
Thanks.

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Sun, Feb 24, 2019 at 12:55 AM Louis Eisenberg <notifications@github.com>
wrote:

[2019-02-24 21:34] tarheel commented on #215
OK, I've uploaded a new JAR here: https://drive.google.com/drive/folders/1uwn6UrHPSsbIGj3XiWErSwg-ysag5TEm

Please test it and let me know if it meets your expectations.

[2019-02-25 00:18] gngilbert commented on #215
You do good work, sir!

[2019-02-24_18-55-33_summary.xlsx](https://github.com/BrightSpots/rcv/files/2898591/2019-02-24_18-55-33_summary.xlsx)

[2019-02-25 19:10] #215 closed

[2019-02-26 00:02] tarheel opened #229 "support sequential multi-seat tabulation"
A.k.a. "winner-take-all," per Caleb.

[2019-02-26 03:21] moldover commented on #229
https://www.youtube.com/watch?v=92cwKCU8Z5c

[2019-02-26 21:19] tarheel opened #230 "tabulation audit log files are ordered backward"
If I run a tabulation that generates audit logs in excess of the per-file limit of 50 MB, the logger numbers them in reverse of how they should be read. E.g. if there end up being 3 audit log files, the first one is _2, the second is _1, and the third is _0.

It would be more intuitive to order them the other way.

[2019-02-28 03:34] moldover commented on #230
Dupe of #125

[2019-02-28 03:34] #230 closed

[2019-03-02 20:56] CalebKleppner opened #235 "Dealing with residual surplus"
Introducing the idea of the residual surplus:  when a candidate gets elected and surplus transferred, but candidate ends up (due to rounding) with a vote total greater than the threshold.  At that point, we want to shave off the residual surplus from that candidate’s total and keeping a running total of all residual surplus.  This means we need to add one more bucket for votes:  residual surplus.

[2019-03-02 21:04] CalebKleppner opened #236 "Revisions to .csv summary file"
Quick notes here, with more to follow, but here are two quick and easy changes (I hope) for our .csv summary file (not important for .json).

1.	List all winners above threshold (new row in report)
2.	Change the term “Exhausted ballots” to “Inactive ballots”

[Issue -- summary format changes.pdf](https://github.com/BrightSpots/rcv/files/2922494/Issue.--.summary.format.changes.pdf)

[2019-03-02 21:31] tarheel commented on #235
@CalebKleppner: I did this recently in #228. The latest version of the JAR includes it: https://drive.google.com/drive/folders/1uwn6UrHPSsbIGj3XiWErSwg-ysag5TEm

[2019-03-02 21:31] #235 closed

[2019-03-02 21:31] tarheel commented on #235
(please reopen if the way I implemented it doesn't match your expectations)

[2019-03-02 21:34] tarheel commented on #236
I already changed "Exhausted" to "Inactive" in #228.

I can add the row listing the winners.

To minimize confusion, please open a new issue for any further changes you'd like to request.

[2019-03-02 21:44] moldover commented on #235
@tarheel should we include residual in summary json to ensure it is stable?

[2019-03-02 21:50] tarheel commented on #235
Yeah, that would be the prudent thing to do. (And then we can tell Armin to filter it out of the visualizer.) I'll open a separate issue.

[2019-03-02 21:52] tarheel opened #237 "include residual surplus in summary JSON"
We don't actually want to visualizer to display it, but having it in the JSON will allow us to add a proper test for it.

[2019-03-02 21:54] #229 closed

[2019-03-02 21:58] tarheel commented on #229
@gngilbert @CalebKleppner I just posted an updated JAR that includes this config option. Please give it a try and let me know if it works as expected.

[2019-03-03 06:41] HEdingfield opened #238 "IntelliJ / JSON whitespace formatting issue"
Continuing our discussion in #232:

Turns out that IntelliJ has a whole section in the settings for JSON. See `Editor > Code Style > JSON`. In it, there are options to choose if spaces are added before :, after :, or both, among other things. It seems like, if we all get on the same page here, it should work fine.

I haven't had any of the issues that Louis brought up, so I'm guessing he needs to

[2019-03-03 17:40] tarheel commented on #238
Yeah, I already have those same settings, and they don't quite match DefaultPrettyPrinter. Have you actually tried creating and committing a new JSON file?

We can make the colon spacing matching by changing the settings for one or the other... but I'm not sure whether we can fix the other issue I've noticed, which is that DefaultPrettyPrinter puts an open curly brace on the same line that an open

[2019-03-04 19:29] gngilbert commented on #229
Worked fine.  The remaining question is, is there a way to display the
results in a single visualizer for public display?

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Sat, Mar 2, 2019 at 4:58 PM Louis Eisenberg <notifications@github.com>
wrote:

[2019-03-04 23:43] tarheel commented on #229
My suggestion is that we keep the tabulator output the way it is now, and add an option to the visualizer to handle multiple JSON files. @moldover @HEdingfield thoughts? We should also talk to Armin about this.

[2019-03-27 17:35] tarheel opened #239 "tabulator doesn't run in JDK 11"
From Greg Dennis:

Hi guys,

The suggestion on rankedchoicevoting.org to use JDK 11 doesn't seem to work:

Error: Could not find or load main class com.rcv.Main
Caused by: java.lang.NoClassDefFoundError: javafx/application/Application

I think this is because JavaFX is available as a separate module in JDK 11. I had to jump through Oracle's hoops to download their archived JDK 10 version to run it

[2019-03-27 22:44] tarheel opened #240 "bottoms-up primary variant [nsfw]"
May be used for primaries in Utah. Allow the operator to specify the number of "winners" (e.g. 2X the number of seats they're actually trying to fill) then run a single-seat contest with no winning threshold until you have exactly the right number of continuing candidates, at which point you stop.

Open questions:
- Should we forbid batch elimination in this mode? Or should we allow it, but make i

[2019-03-28 05:10] gngilbert commented on #240
I would not allow batch elimination.  That seems the easiest way to handle it.

Regarding your suggestions on implementation , I want to ask Chris to comment on the "bottoms-up mode" label.  There is a variety of RCV called "bottoms up" and we need to be sure we are not misapplying a label.  Can you add Chris to this discussion and ask for his input on this?  I did not see him on the list of those

[2019-03-28 05:36] tarheel commented on #240
This repository is publicly accessible, so I can just send Chris the link to this issue.

Hmm. Letting the operator choose "2X the number of seats" and then specify the number of seats elsewhere feels unnecessarily roundabout.

I guess if we wanted the config to be as explicit as possible for this case, we would have them set numWinners = 0 and then change the "continue until n candidates remain"

[2019-03-28 05:38] gngilbert commented on #240
Agree with your "too roundabout" assessment.  BTW, I sent Chris the link just in case it was open so, if you have not done so, there is no need.  Thanks.

[2019-03-28 12:38] chughes297 commented on #240
This method is what we've called bottoms up - when you have multiple winners but only eliminate candidates until you have as many candidates as winners/do no surplus transfer/have no operative threshold. The label is apt here.

Louis's suggestion of having checkboxes to opt out of STV and in to sequential or bottoms-up seems like a good solution to me.

[2019-03-28 15:24] gngilbert commented on #240
Great! Let's go with it.

[2019-03-29 02:03] tarheel opened #241 "combine special winner determination variants into single config field"
From #240:

I'm also thinking -- now that we have a few mutually exclusive variants like this, I wonder if we should combine them into a pulldown. Something like "special winner determination variant," where the options would be:
None
Continue until two candidates remain
Sequential multi-seat
Bottoms-up
(possibly more in the future)

[2019-03-29 02:03] tarheel commented on #240
OK, so I'm going to add a checkbox for bottoms-up. If the operator wants to use this mode, they'll enable the checkbox and set numWinners to the desired number of candidates who should remain when the tabulation terminates.

I'm also thinking -- now that we have a few mutually exclusive variants like this, I wonder if we should combine them into a pulldown. Something like "special winner determina

[2019-03-30 18:22] moldover opened #242 "Support NIST CDF input format"
CDF format includes not just votes (like ES&S files) but also the election data: candidates and contests.  Reading CDF format will involve first reading the election data to build the list of candidates / contests.  Then read the ballots, and match up ballot selections with candidates / contests.  Example file is attached.  A config file will of course be needed to specify all the other tabulator

[2019-03-30 21:45] tarheel commented on #242
I agree that the latter would be cleaner.

[2019-03-31 15:32] moldover opened #243 "Support NIST CDF tabulation output"
The CDF format can indicate the results of a tabulation.  We need to support this to be a reference application.  For each round, we output the status of every ballot: who it counts for, and how much.  In the CDF json file, this is stored as a CVRSnapshot: a "snapshot" in time of CVR state, which changes during tabulation.

Note: a CVRSnapshot is added to every CVR in the file, for every round, ev

[2019-03-31 16:29] tarheel commented on #243
When do you set isAllocable to unknown?

[2019-03-31 16:54] moldover commented on #243
unknown is used by a ballot marking/creation device (e.g. at a polling place) when the ballot is first created, before any election rules are applied (e.g. no overvote determination has been applied).  Some other device (e.g. tabulator) or person (adjudicator) needs to apply specific election rules and determine how this cvr will actually be counted over the course of an election.

[2019-03-31 20:02] moldover opened #244 "Add unit tests for NIST RCV tabulation"
@gngilbert has already tested these successfully.  Adding them as unit tests involves add the source files (cvr and config) into the test resources area, and then creating unit tests which run them automatically.

[2019-04-01 03:39] moldover commented on #242
@tarheel does it make sense to split this into the following?  If so, wanna pick one?
1) parsing election data from CDF and populating rawConfig
2) parsing vote data into CastVoteRecord objects

[2019-04-01 04:52] tarheel commented on #242
There's some overlap for reading in the file, yeah? Would it be easiest to do these two sequentially? Anyway, I probably can't make progress until Tuesday or Wednesday, so you can decide how to start.

[2019-04-02 07:27] tarheel commented on #243
So am I understanding this correctly? In the output, for each round we'll have a full copy of the CVR snapshot for each ballot, where the only difference from round to round is that IsAllocable and NumberVotes may change?

A couple more thoughts:
- As you mentioned, the amount of duplication here is just massive.
- The nature of this output requires that we add the round-by-round tracking back to

[2019-04-02 16:28] moldover commented on #242
Yeah maybe a bit over overlap.  Tell ya what, I've already made some progress on 2, so how about I wrap that up and push it tonight (Tuesday) and you can take over.  At that point I'll switch to working on the output, unless Hylton or Hemal are interested in doing that.

[2019-04-02 16:30] moldover commented on #243
Oh, just seeing this now.  Yeah sure that's probably easier... you take output, I'll take input.  And yes, that is my understanding from talking to everyone at the working group meeting, very specifically about exactly this.

[2019-04-02 19:49] tarheel commented on #243
Cool. Are you still working on a sample output file? I think I understand most of it from what you've already written, but I don't know the details on how to group the rounds etc.

And we need this by Friday?

[2019-04-03 03:51] moldover commented on #243
Haven't gotten to the sample output file yet, still working on input.  If that's not blocking you, great.  As for round grouping: snapshots are stored in an array.  The order of the snapshots IS the order of the rounds.

[2019-04-03 03:57] moldover commented on #243
Oh, and as for due date, @gngilbert said "end of this week", so that sounds like Friday.  Probably some wiggle room if we need it.

[2019-04-03 05:35] tarheel commented on #243
I'm looking at your sample input: https://jsoneditoronline.org/?id=5d86609ee5bf408488bded5e3f0bded7

So I should output one huge array of snapshots? In the input, each element of that array has the following fields:
BallotPrePrintedId
CurrentSnapshotId
CVRSnapshot
ElectionId
@type

I think I understand how to populate BallotPrePrintedId, CVRSnapshot, ElectionId, and @type. Are you saying that I sh

[2019-04-03 13:52] moldover commented on #243
Sure.  Here's an example file with a single cvr showing two rounds of tabulation.  In practice you will need to replicate the structure here for every cvr, for all rounds of full tabulation.

You will notice, each cvr has (among other things) an array of snapshots.  In the sample INPUT file, there is only one element in this array: the original snapshot.  For each cvr, your output code will append

[2019-04-03 14:33] moldover commented on #243
As for CurrentSnapshotID that indicates the most recent snapshot.  In your case it should point to the final round snapshot.

[2019-04-03 16:44] tarheel commented on #243
OK, I took your example and duplicated the single ballot to produce an example with two ballots. Does this look right to you?

https://jsoneditoronline.org/?id=ed7f9c4b20684019ba17c3514d7e8f4e

[2019-04-03 17:30] moldover commented on #243
Yes!  Note, the "type" of the new snapshots you add should be "interpreted" (the input ones are "original").  I did that in the sample, and you have copied it over, so it is correct.

[2019-04-03 22:31] tarheel commented on #243
In your example, NumberVotes is always 1. How exactly does it work when we do a fractional transfer? Let's say my ballot has 1 = A, 2 = B, 3 = C. At some point A wins and we transfer .25, so now NumberVotes = .75 for A and .25 for B. But what should I set NumberVotes to for the C selection? Does it even make sense to include NumberVotes when IsAllocable is false or unknown?

[2019-04-03 23:08] moldover commented on #243
I can't say authoritatively.  If it wasn't extra work, I would probably leave it at 1.

Again, I can't say authoritatively.  If it isn't extra work I would leave it in.

In general my sense is NIST is not going to be rigorous with how we implement this.  For now we should make a reasonable effort but not sweat smaller things.

[2019-04-03 23:56] tarheel commented on #243
Don't sweat the petty things and don't pet the sweaty things.

[2019-04-04 17:07] tarheel opened #247 "optimize CVR CDF JSON generation"
The main thing is that it's not at all scalable to construct the entire map in memory and then write out the JSON. We should use a streaming JSON writer instead, e.g. https://static.javadoc.io/com.google.code.gson/gson/2.6.2/com/google/gson/stream/JsonWriter.html

We might also consider combining the somewhat redundant data structures in CastVoteRecord: winnerToFractionalValue and cdfSnapshotData.

[2019-04-04 17:42] tarheel opened #248 "consistent casing for initialisms"
We've been inconsistent about this, e.g. `fullCVRData` vs. `textFieldCvrFilePath` or `setIdColumnIndex` vs. `rankToCandidateIDs`. Let's pick an approach and stick with it.

[2019-04-04 17:43] tarheel commented on #248
I vaguely recall that @HEdingfield had an opinion on this topic...

[2019-04-05 01:50] tarheel commented on #244
@HEdingfield did you want to grab this? I can do it soon if you won't have time for it.

[2019-04-05 01:51] tarheel commented on #244
All of the files are attached to an email from George on 4/1 in the thread "NIST Common Data Format Project."

[2019-04-05 08:16] HEdingfield commented on #248
Yeah, I definitely prefer `fullCvrData`, `rankToCandidateIds`, etc. This is recommended in Effective Java. Here's [a good example](https://stackoverflow.com/questions/1176950/acronyms-in-camel-back) of why to do it that way.

[2019-04-05 08:17] HEdingfield commented on #244
Slammed for the next week catching up with budget stuff and doing taxes, but if this is still kicking around in a couple weeks I can.

[2019-04-05 15:55] gngilbert commented on #243
I brought this up yesterday during the voting methods working group
meeting.  Turns out that John Dzuirlaj was not aware of the existance of
fractional votes.  He is working on an answer.

George Gilbert
RCV Resource Center
george.gilbert@rankedchoicevoting.org
336-906-0047

On Wed, Apr 3, 2019 at 7:56 PM Louis Eisenberg <notifications@github.com>
wrote:

[2019-04-06 00:52] tarheel commented on #248
Works for me. Heads up to @moldover. I can send a PR later that cleans up all the existing cases, but let's follow @HEdingfield's suggestion for all new code.

[2019-04-06 21:04] moldover opened #251 "Refactor CommonDataFormatReader and StreamingCVRReader into common base class"
And come up with some clever names for them...

[2019-04-08 15:05] nealmcb commented on #168
I still see this problem, on Ubuntu 18.04 LTS Bionic:

[code]
 And I don't have another system to run it on.
Any luck figuring out what's going on?

[2019-04-08 15:17] nealmcb commented on #170
I'm not positive this is relevant, but for auditability, it is critical that software can use publicly-verifiable, truly random seeds, e.g. via dice rolls in a public setting, along with any pseudo-random number generation algorithm used to stretch a seed to deal with multiple ties.. Documenting those seeds and algorithms in both input config files and output result files is necessary for interope

[2019-04-08 15:39] nealmcb commented on #119
Thanks - fascinating.
Wow - that is such an awful way to deliver CVRs of ranked ballots: a bloated set of CSVs with 205 columns for perhaps 21 candidates, enormous column names over 40 chars each, and so much extraneous and badly-organized data.
I dare say I'd much prefer the json-format output that I expect they have (and used to produce this output).

[2019-04-08 16:35] moldover opened #254 "Fix regression tests to handle generated date field more correctly"
Currently it is a hard-coded exception in the file compare code.  Would be better to at least remove hard-coding.  Maybe there is a clever way to mock this.

[2019-04-08 16:47] nealmcb commented on #43
Most important is transparency around backwards-compatiibility.  I recommend semantic versioning: you get to do backwards-incompatible changes, but have to make it obvious to the users.

See also comments in #170 since getting any necessary randomness to be generated and reported in a reproducible fashion is tricky and important.  See e.g. Rivest's "sampler" PRNG at https://github.com/nealmcb/rive

[2019-04-09 06:04] tarheel commented on #244
I'll update all of the test sets to check the CDF output also once that logic has stabilized a bit more. Right now we're still getting feedback from John et al on things we need to change.

[2019-04-10 02:31] moldover commented on #244
@tarheel working on this today, good progress, (basically adding precinct ids, which is what GpUnit is for) but hit a snag: there's some error when running 2017 Minneapolis Mayor Precinct when enabling CDF output.  Seems like some CVRs never get recordSelectionForCastVoteRecord called on them, hence they never get logCdfSnapshotData called, hence ResultsWriter has a failed assertion when it can't

[2019-04-10 05:03] tarheel commented on #244
Hmm, interesting. Yes, I'll debug.

[2019-04-11 16:07] gngilbert commented on #119
That was my reaction as well and why we have not taken on the task of converting it to run in the RCVRC Tabulator.  At some point, however, we need to do this and I am looking for recommendations as to how to do this in the most efficient manner.

[2019-04-11 16:08] gngilbert commented on #119
Jon, should you bring David in on this issue?  (I would but don't know how. Thanks.)

[2019-04-12 17:05] tarheel commented on #119
@davidryal

[2019-04-14 07:39] #240 closed

[2019-04-14 07:42] tarheel commented on #240
@gngilbert: I've uploaded a new JAR that includes the bottoms-up option. Please test it out.

https://drive.google.com/drive/folders/1uwn6UrHPSsbIGj3XiWErSwg-ysag5TEm

[2019-05-01 08:13] aaime commented on #222
Trying to find a solution to this problem I stumbled into this ticket.
In the end, at least for me, the issue was that the sax parser factory had to be made namspace aware:

[code]

Hope this helps.

[2019-05-02 03:27] HEdingfield commented on #222
@aaime Yes, that worked perfectly, thanks so much!

[2019-05-02 04:43] #222 closed

[2019-05-02 20:37] tarheel opened #265 "inactive and residual numbers in precinct CSVs are wrong"
They're showing the overall totals, not the totals for that precinct.

[2019-05-03 05:26] tarheel commented on #168
Sorry, we haven't had a chance to debug this yet. :/ We'll try to get to it in the not-too-distant future...

[2019-05-04 23:33] tarheel commented on #239
I've succeeded in getting the app to build and run in JDK 11 within IntelliJ, but I haven't yet figured out how to generate a functional JAR. There doesn't appear to be any simple way to do this. :(

[2019-05-05 00:01] tarheel commented on #239
Upon further investigation: it looks like it's impossible to build a single cross-platform JAR for a JavaFX app in Java 11+, because you have to include native libraries in the build. So if we're going to move to 11 or higher, we'll have to start doing separate builds for Mac, Windows, and Linux. It also doesn't appear to be possible to accomplish this directly in IntelliJ.

[2019-05-05 06:47] tarheel commented on #239
Alternatively, we can just ask people to install JavaFX for themselves. I'm able to make the JAR work under Java 11 with this command:

`java --module-path lib/javafx-sdk-11.0.2/lib --add-modules=javafx.controls,javafx.fxml -jar out/artifacts/rcv_jar/rcv.jar`

[2019-05-05 06:49] tarheel commented on #239
Some possibly helpful links if we want to do something fancier:
https://medium.com/@adam_carroll/java-packager-with-jdk11-31b3d620f4a8
https://medium.com/azulsystems/using-jlink-to-build-java-runtimes-for-non-modular-applications-9568c5e70ef4

[2019-05-05 23:23] moldover commented on #239
Just making sure I have this right:
you can make a standalone build for MacOS jdk 11
other platforms will require a platform-specific build process
alternatively the end user can install JavaFX for their platform, and our current .jar should work

[2019-05-05 23:45] tarheel commented on #239
I have not succeeded in making a standalone build, even for Mac. My understanding is that it *is* possible to do it for any platform using the corresponding JavaFX jmods, but I haven't figured out that process yet.

I did confirm that our current JAR works under JRE 11 if you download the JavaFX SDK and reference it in the command line args, as described above... at least on my Mac. Presumably it

[2019-05-05 23:51] tarheel commented on #168
@HEdingfield or @nealmcb: could you try the approach I suggested in #239 and see if that fixes it for you?

Specifically: download the [JavaFX SDK for Linux](https://gluonhq.com/products/javafx/), then add command-line args to reference it. Something like this:

`java --module-path javafx-sdk-11.0.2/lib --add-modules=javafx.controls,javafx.fxml -jar rcv.jar`

I'm not sure if it will make a differe

[2019-05-05 23:52] tarheel commented on #168
This rigmarole makes me wonder whether we should start releasing a separate build that's intended only for command-line operation and doesn't have any JavaFX dependencies.

[2019-05-06 15:46] tarheel opened #266 "remove NumberVotes and FractionalVotes when isAllocable is false?"

[2019-05-06 17:31] nealmcb commented on #168
Thank for follwoing up, @tarheel!

I did this on Ubuntu bionic 18.04, where I have OpenJDK 11:

    $ apt-get install openjfx
    $ java --module-path javafx-sdk-11.0.2/lib --add-modules=javafx.controls,javafx.fxml -jar ../rcv_20190302.jar
    Error occurred during initialization of boot layer
    java.lang.module.FindException: Module javafx.controls not found

Any more tips?

This looks perhaps

[2019-05-06 20:16] tarheel commented on #168
Ah, great. Yeah, I saw your initial comment and was going to tell you to update the path.

So the only remaining question in this thread is why Linux has the JavaFX error under JRE 10. At least in @nealmcb's case, I believe the answer is that you were using OpenJDK 10, and that distribution also omits JavaFX. @HEdingfield: presumably something similar applies to your case?

[2019-05-07 06:39] tarheel opened #267 "handle Strict Open XML Spreadsheet files gracefully"
For some reason this format also uses the .xlsx extension. If you try to use one as a CVR, it'll trigger an exception in StreamingCVRReader.

`org.apache.poi.POIXMLException: Strict OOXML isn't currently supported, please see bug #57699`

[2019-05-07 15:53] HEdingfield commented on #267
@tarheel Would you mind posting an example CVR in that format here so we can repro easily?

[2019-05-07 15:56] HEdingfield commented on #174
This can be reproduced via, e.g., #267.

[2019-05-07 16:02] HEdingfield commented on #239
The answer here may be to start officially using Maven or Gradle ([this comment](https://www.reddit.com/r/java/comments/82qm9x/javafx_will_be_removed_from_the_java_jdk_in_jdk_11/dvdkfax?utm_source=share&utm_medium=web2x) made me realize that).

[2019-05-07 16:04] HEdingfield commented on #239
And [this](https://stackoverflow.com/questions/18072456/difference-between-gradle-and-maven) makes me lean towards Gradle. Full docs [here](https://docs.gradle.org/current/userguide/userguide.html).

[2019-05-07 16:12] HEdingfield commented on #239
Finally, [here's](https://openjfx.io/openjfx-docs/#introduction) the official JavaFX documentation on how to do this, and [here's](https://www.youtube.com/watch?v=nKIMGH0l3Wo) a video on how to make all this work together in IntelliJ. Happy to take on transitioning our project over to this, but I don't think it's super high priority, right?

[2019-05-07 16:20] HEdingfield commented on #267
[200Ballot6CandTestAlphaCand.zip](https://github.com/BrightSpots/rcv/files/3153598/200Ballot6CandTestAlphaCand.zip) should contain the files necessary to repro this (the config may need some modification first, e.g. with the file path).

[2019-05-07 16:23] HEdingfield commented on #267
George noted: the .xlsx file was originally provided as a .xlsd file and he just changed the extension.

[2019-05-08 05:58] tarheel commented on #239
Sure, go for it. And I agree that this is not the top priority at the moment.

[2019-05-08 18:20] HEdingfield commented on #267
PR #268 should fix somewhat-related issue #174, so this throws an error in the GUI now. Do we still want to keep this issue open so it throws a more friendly error than the one you enumerated in the first comment? Seems like it might be a bit overly-prescriptive to look for that specific exception and translate it into English, but up to you, @tarheel.

[2019-05-08 18:22] HEdingfield commented on #110
#239 is related, since we discuss migrating everything to Gradle.

[2019-05-08 18:27] HEdingfield opened #269 "Update copyright dates throughout code and docs - see if there's an intelliJ macro which updates automagically"
Should probably put a range, like 2017-2019.

[2019-05-08 18:27] tarheel commented on #110
Converting to Maven/Gradle to own the libs.

[2019-05-09 16:18] moldover commented on #267
We should always log the original exception (for debugging) but maybe it makes sense to also have a more generic message like "Failed to read CVR file for vendor ES&S.   This must be a valid .xlsx file" (something like that) which will nudge users in the right direction.

[2019-05-09 16:32] moldover commented on #269
Yeah good call.  Also, having read my name in the header so many times it feels a bit awkward.  How would you guys feel about changing it to say something like "Copyright (c)  2017-2019 Bright Spots Developers" which could be inclusive of other future contributors?

[2019-05-09 16:35] moldover commented on #269
And maybe add an "acknowledgements" section to the documentation somewhere which does call out contributors by name, cause that is important :)

[2019-05-09 16:50] #174 closed

[2019-05-09 16:50] tarheel commented on #269
Sure.

[2019-05-10 00:26] HEdingfield commented on #168
I propose we circle back on this issue once we resolve #239, because I think that will solve our problems here.

[2019-05-10 00:28] tarheel commented on #168
If what I said in my last comment sounds right (my hypothesis for why it was failing even under JRE 10 for both of you), then yes, I agree -- this and #239 are duplicate issues.

[2019-05-10 04:58] tarheel commented on #267
Yeah, now that we've identified this specific error case, it's worth the small effort to add logic to give the user clear guidance on how to fix it. I'll do this at some point.

[2019-05-11 16:26] HEdingfield commented on #239
Another note somewhat related to this: we should make sure we're developing with Open JDK 11+, rather than shitty Oracle JDK 11+.

[2019-05-12 05:41] #242 closed

[2019-05-12 05:41] #244 closed

[2019-05-15 16:49] HEdingfield opened #270 "Update to Java 12 and fix link in README to Oracle Java SE"
We should be linking to and using OpenJDK, per [this article](https://medium.com/@javachampions/java-is-still-free-2-0-0-6b9aa8d6d244).

#239 is likely a blocker for this.

The most straightforward thing to link and use would probably be Oracle's [open source builds of the JDK here](https://jdk.java.net/).

[2019-05-15 16:54] HEdingfield commented on #270
Counterpoint: we may want to stick with Java 11, since it's LTS until 2022 per [the table here](https://en.wikipedia.org/wiki/Java_version_history). In either case, we're still updating to a new version of Java.

[2019-05-15 19:30] HEdingfield commented on #239
Explored this issue today and was able to get a basic "hello world" JavaFX Gradle project going in IntelliJ, mostly following [these "JavaFX and IntelliJ => Modular with Gradle" instructions](https://openjfx.io/openjfx-docs/) (with some bouncing over to the non-modular version on the same page when I hit walls). I used OpenJDK 12, downloaded from [here](https://jdk.java.net/).

Here are some notes

[2019-05-15 23:38] tarheel commented on #270
Any particular downside to going straight to 12?

[2019-05-18 17:27] HEdingfield commented on #270
See my previous comment. Means we'd need to stay on top of new versions every 6 months, whereas 11 is LTS until 2022. It's probably still worth going to 12 and beyond, but we need to have a discussion about the certification process, who's responsible for building the code, if we need to stick with images frozen in time, etc.

[2019-05-18 17:31] HEdingfield opened #271 "Add recommendations to some error messages"
E.g. "Failed to start system logging!" error message should include recommendation(s) on how to fix, e.g.  "check to make sure you have write access in the current working directory".

Audit existing error messages and see if any others could benefit from this.

Loosely related to #141 and #267.

[2019-06-05 20:15] HEdingfield commented on #168
TODO: update `UserGuide.txt` when resolving this issue, because it mentions it directly.

[2019-06-07 00:59] HEdingfield commented on #168
Just pulled PR #272 to my Linux machine, built a distZip using Gradle, and was able to get it running using OpenJDK 11!

[2019-06-07 06:22] tarheel commented on #168
![bitmoji](https://render.bitstrips.com/v2/cpanel/a640399f-2837-485b-881e-3de373e8f801-0878c302-d67c-4bb7-80ba-b554896c3f48-v1.png?transparent=1&palette=1&width=246)

[2019-06-08 20:01] HEdingfield opened #273 "Update rankedchoicevoting.org page and find better hosting spot"
[This page](https://www.rankedchoicevoting.org/universal_rcv_tabulator) has outdated instructions and also links to my personal Google Drive account, which I'd prefer to avoid.

[2019-06-08 20:48] HEdingfield commented on #273
Detailed discussion on this in email thread with subject "Presentation follow-up" started on 2018-04-24.

[2019-06-08 23:30] gngilbert commented on #271
This sounds like one we need to do.

[2019-06-09 01:14] #243 closed

[2019-06-09 01:50] tarheel opened #274 "support reading precincts from CDF sources"

[2019-06-09 01:50] tarheel opened #275 "don’t allow candidate names in config if there’s a CDF source"

[2019-06-09 01:51] tarheel opened #276 "report error if config specifies any column indexes for a CDF source"

[2019-06-09 02:01] tarheel opened #277 "raise fatal error if CVR contains vote for unrecognized candidate"

[2019-06-09 02:04] tarheel opened #278 "CLI bug with paths in current directory in config"
If you run from the command line and specify a config file with no path (i.e. in the current dir), and that config files also lists a CVR source with no path, we end using the string "null" as the directory.

[2019-06-09 02:06] tarheel opened #279 "GUI falsely reports that invalid config is unsaved"
Repro:
- Load invalid_params_test_config.json
- Click the Load button again. It will ask if you want to save your changes, even though you didn't change anything.

[2019-06-09 04:27] HEdingfield commented on #278
Confirmed and noted this in #272:

[2019-06-09 16:15] gngilbert commented on #269
Wouldn't call this a certification requirement but I think it would be best if done before then.

[2019-06-09 16:23] gngilbert commented on #267
The reason I label this cert_del is that I think it is important for the certified version to provide, wherever possible, the kind of clear user guidance @tarheel mentioned.

[2019-06-09 16:25] gngilbert commented on #266
Since we are not testing the CDF output at this time, it seems this can be put off unless it is a simple fix.

[2019-06-09 16:31] gngilbert commented on #254
Not sure what this is about but it sounds like something we need to complete.

[2019-06-09 16:34] gngilbert commented on #248
Again, I don't understand the issue but if it involves inconsistencies in our code, we probably need to address it now.

[2019-06-09 16:36] gngilbert commented on #247
Bright Spots call on this.  If it is strictly a CDF issue, it can probably wait.

[2019-06-09 16:45] gngilbert commented on #239
I labeled this cert-del because it sounds related to the Java issue you guys have spent so much time on recently.  If I am wrong, feel free to correct me.

[2019-06-09 16:51] gngilbert commented on #236
Would like to have the "winner" row added for certified version

[2019-06-09 16:55] gngilbert commented on #212
I have this in my test sets for the reference implementation.

[2019-06-09 17:03] gngilbert commented on #197
I don't recall the reason for originating these suggested tests but they probably don't need to be pursued as long as we cover the needed functionality tests.

[2019-06-09 17:15] gngilbert commented on #170
Not sure what our resolution should be here but think it needs to be discusses and resolved.  The issues of documentation and reproducible results are critical.

[2019-06-09 17:27] gngilbert commented on #167
I presume we specified columns due to the fact that we started working with the ES&S .xlsx formatted CVRs. As we expend data sources, it might make more sense to specify the source of the CVR first, eg. ESS, CDF, Dominion, Hart...  then have the GUI present the relevant options

Since this certification testing is specifically dealing with ESS data, I think we are ok but I like the suggestion for

[2019-06-09 17:30] gngilbert commented on #158
Is this resolved or not?

[2019-06-09 17:32] gngilbert commented on #152
Can't tell how much of this has been addressed.

[2019-06-09 17:35] gngilbert commented on #141
Sounds like this needs to be completed.

[2019-06-09 17:38] gngilbert commented on #138
I have had persistent problems viewing the bottom line of the GUI screen

[2019-06-09 17:41] gngilbert commented on #137
We definitely need to provide clear info to users as to the cause of validation failure.

[2019-06-09 17:46] gngilbert commented on #128
Obviously we need to specify the "loose ends."

[2019-06-09 17:54] gngilbert commented on #123
Looks like a good subject for future enhancements.

[2019-06-09 17:55] gngilbert commented on #119
We'll keep this on the shelf for now.

[2019-06-09 17:59] gngilbert commented on #111
Sounds like something we need to resolve.

[2019-06-09 18:03] gngilbert commented on #105
I think we can save this for a future enhancement.

[2019-06-09 18:05] gngilbert commented on #98
Agree with @HEdingfield as a future enhancement

[2019-06-09 18:11] gngilbert commented on #86
Sounds as if we might need to address this now.

[2019-06-09 18:14] gngilbert commented on #61
Since generating hash values for CVRs is not currently a standard practice in any voting system, it is unlikely that this issue will arise in this round of certification.

[2019-06-09 18:16] gngilbert commented on #60
We do this for CDF input files.  How much work would it be to do it for ESS inputs?

[2019-06-09 18:18] gngilbert commented on #58
I know we have done some of this.  Need to identify what more is needed.

[2019-06-09 18:19] gngilbert commented on #57
This would be very good to have but I have no idea how much work is involved.

[2019-06-09 18:22] gngilbert commented on #43
Not sure how much we can or need to accomplish for this round of testing but I think this needs to be addressed seriously asap.

[2019-06-09 18:30] gngilbert commented on #277
Retrieving candidate names from the CVR, as we do with the CDF CVR, would alleviate this problem. Not sure we can get that done for this cert. round.

I we cannot accomplish that now, it would be good to have an error message identify the unrecognized candidate name(s) so it(they) could be copied and pasted into the candidate names list easily.

[2019-06-09 18:33] tarheel commented on #60
The actual code wouldn't be very hard. The part I'm uncertain about is the user experience. How exactly would this work? I can think of at least a couple options. @HEdingfield's suggestion above sounds good, but would be a pain to implement in the UI. A couple alternatives:

1. On the candidates tab, there's a button labeled "Import from CVR sources" that triggers an immediate parsing of the sourc

[2019-06-09 18:36] gngilbert commented on #60
I like option 1.

[2019-06-09 18:39] gngilbert commented on #60
One contingency we need to consider is a post-adjudication CVR where write-ins have been normalized.  Obviously there could be errors in the normalization process or records missed in the adjudication.  auto-populating the candidate names list would help catch these types of errors.

[2019-06-09 19:55] HEdingfield commented on #111
These all seem like good candidates, and appear to be available on Namecheap:

- .group
- .community
- .us
- .dev
- .engineering

[2019-06-09 20:10] HEdingfield commented on #277
FTR, retrieving candidates names from the CVR is outlined in issue #60.

[2019-06-09 20:14] HEdingfield commented on #158
Still an issue, but probably not super critical to deal with right now unless it can be done easily.

[2019-06-10 16:16] HEdingfield opened #280 "Address warnings during Gradle build"
It still works fine, but shouldn't be too hard to get this figured out:

[2019-06-10 16:20] HEdingfield opened #281 "Decide if Gradle distribution should include test files and docs"
Currently using `distZip` and `jlink` to create distributions doesn't include any of the test configs / CVRs or docs, which we may want to include somehow in the distribution. Do we want to include these and, if so, which specifically?

Some info on adding static files here:
https://docs.gradle.org/4.10.3/userguide/application_plugin.html#sec:the_distribution

[2019-06-10 16:42] HEdingfield opened #282 "Figure out how to create distributions for Windows, Linux, and MacOS on any system"
Versions created using Gradle's `distZip` or `jlink` tasks are platform-specific due to the way JavaFX libraries are downloaded. If you try to run a version built on a Mac in Windows or Linux, for example, you get:

It should be possible to set up a separate zip dist for each OS even without actually being on that OS by doing something synthesized from the following:

- As outlined in this awesome

[2019-06-10 16:50] HEdingfield commented on #57
Now that we use Gradle, we can look into using `jpackage` to create separate installers for each platform.

If we can do this, it will probably effectively fix #282 also.

[2019-06-10 16:51] HEdingfield commented on #282
Addressing #57 using `jpackage` may make this a moot point.

[2019-06-10 16:56] HEdingfield opened #283 "Test fails if we upgrade to a more recent version of Gradle"
As outlined in #272, I tried updating beyond Gradle 4.10.3 (i.e. a number of versions all the way up to 5.4.1), and `test2013MinneapolisMayorScale()` would crap out around 500k votes with the message "TestEngine with ID 'junit-jupiter' failed to execute tests". It makes me think they added some sort of default time or memory limit for each test.

Ended up sticking with 4.10.3 (the IntelliJ default

[2019-06-10 17:00] HEdingfield commented on #239
Addressed via #272. Now the tabulator _only_ works in JDK 11+. When distributed using Gradle's `distZip` task, it requires that the user have the JDK installed. When distributed using Gradle's `jlink` task, it doesn't even require that the user have the JDK installed (the zip is 48 MB vs. 26 MB with `distZip`).

[2019-06-10 17:00] #239 closed

[2019-06-10 17:01] HEdingfield commented on #270
Addressed via #272. Now the tabulator _only_ works in JDK 11+. When distributed using Gradle's `distZip` task, it requires that the user have the JDK installed. When distributed using Gradle's `jlink` task, it doesn't even require that the user have the JDK installed (the zip is 48 MB vs. 26 MB with `distZip`).

[2019-06-10 17:01] #270 closed

[2019-06-10 17:03] HEdingfield commented on #168
PR #272 is now merged. Confirmed that versions built on a Linux system using Gradle's `distZip` or `jlink` tasks work on Linux. #57 and #282 focus on figuring out how to do Linux builds on any platform.

[2019-06-10 17:03] #168 closed

[2019-06-10 17:04] HEdingfield commented on #110
Gradle migration complete with #272.

[2019-06-10 17:04] #110 closed

[2019-06-10 17:15] tarheel commented on #281
Yes, but let's limit it to the smaller tests, maybe?

[2019-06-10 17:35] HEdingfield commented on #281
Makes sense to me. Maybe we only need to include a couple of them? Enough to get coverage of most of the tabulator's functionality? I'll rely on you and/or George to make the call on which to include. Just list them here, along with the docs that should be included (guessing README and UserGuide at least).

[2019-06-10 18:10] freedomcounts commented on #281
I agree - README, UserGuide, and to be determined test configs & CVR's.

[2019-06-10 18:39] freedomcounts commented on #269
It would be nice to be included in certification.

[2019-06-10 18:42] freedomcounts commented on #254
I agree that it should be completed for certification.

[2019-06-10 18:45] freedomcounts commented on #248
Cleanup for certification.

[2019-06-10 18:51] freedomcounts commented on #236
Agree that we need the "winner" for certification.

[2019-06-10 19:02] freedomcounts commented on #195
Do we need this for certification?  It would seem likely to me.

[2019-06-10 19:20] chughes297 commented on #135
Added deliverable because I expect it's likely people will accidentally attempt to close the app frequently, would like to keep that from happening.

[2019-06-10 19:28] chughes297 commented on #216
From what I understand of this, you're saying there's a need to make more transparent how rounding is done in a config? I think that's probably a certification deliverable. Seems like there's other issues included in this, though, and not sure if they fit that same requirement.

[2019-06-10 19:38] chughes297 commented on #136
Doesn't sound like this is necessary for cert but happy to provide feedback on what default values make the most sense.

[2019-06-10 19:45] chughes297 commented on #273
I can copy the compiled version over to RCVRC's google drive folder, if that's helpful. The Dropbox links I had been using stopped working properly, sorry for not reporting that back when it happened.

What instructions need updating? The one about which version of JDK to use?

[2019-06-10 19:48] chughes297 commented on #92
Doesn't seem necessary for certification, but are there any updates to POI that have stopped these error messages?

[2019-06-10 20:01] chughes297 commented on #58
Happy to help draft/review any tutorials or other documentation for the tabulator.

[2019-06-10 20:07] chughes297 commented on #189
If I understand this correctly it might be a certification deliverable. Does this issue mean that you can't find correct vote transfer data at the precinct level in the results files?

[2019-06-10 20:09] chughes297 commented on #140
@freedomcounts Would this sort of update count as de minimis? Seems really valuable to do but if we can do it after certification and not worry about it, seems best to do after that cert.

[2019-06-10 20:10] chughes297 commented on #132
Seems like we might need this for cert - you can't currently cancel out of a tie-breaker if you select interactive for the tie-breaking mode?

[2019-06-10 20:11] chughes297 commented on #137
@gngilbert @freedomcounts This feels like a certification requirement but am concerned about applying that label if it's extremely time-consuming and ultimately a quality of life fix. Thoughts?

[2019-06-10 20:16] freedomcounts commented on #140
This would probably be a de minimis.  If anyone disagrees let me know.

Keith Long, PMP
Freedom Counts, LLC
Keith.long@freedomcounts.com
843-540-1491

From: chughes297<mailto:notifications@github.com>
Sent: Monday, June 10, 2019 4:09 PM
To: BrightSpots/rcv<mailto:rcv@noreply.github.com>
Cc: Keith Long<mailto:keith.long@freedomcounts.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Br

[2019-06-11 06:49] tarheel commented on #140
Yeah -- if anything at all qualifies as de minimis, it's something like this.

[2019-06-13 03:56] HEdingfield commented on #271
Tagging as essential, but may just make a narrow-scoped first pass on it, and do a broader, more descriptive pass after certification.

[2019-06-13 03:59] HEdingfield commented on #269
Should probably switch to using IntelliJ's built-in tag for this, e.g. `2017-${today.year}`:
https://stackoverflow.com/questions/48173062/intellij-update-copyright-year

[2019-06-13 04:09] HEdingfield commented on #226
Minor UI bug, not essential for certification.

[2019-06-13 04:21] tarheel commented on #170
Need to use supplied seed for both `Math.random` and `Collections.shuffle`.

[2019-06-13 04:22] HEdingfield commented on #170
Agree that a seed is essential if we're going to allow `random` as an option. If we end up not having time to complete this before certification, we should probably disable this option entirely.

[2019-06-13 04:46] HEdingfield commented on #138
Will make an effort and repro by changing resolutions. May need to drop off essential tag due to time constraints.

[2019-06-13 04:51] HEdingfield commented on #128
I think this is all purely quality-of-life stuff, so no big deal. I'll review the design doc again down the line just to make sure we didn't miss any cool ideas.

[2019-06-13 05:02] HEdingfield commented on #111
Per discussion with Louis and Jon, we like brightspots.network. Louis to buy that domain, then we'll change the package from `com.rcv` to `network.brighspots.rcv`.

[2019-06-13 05:15] HEdingfield commented on #58
Related to #281.

Add to README: CLI instructions for cloning repo locally, running javac with gradle, etc. to build it.

Also update UserGuide as needed.

[2019-06-13 05:28] HEdingfield commented on #43
We'll:
- Adopt semantic versioning (this first certification deliverable will be tagged as 1.0.0)
- Include RCV Tabulator version in the log
- Spit raw contents of config file into log
- Try to include info on machine / OS running the tabulation in the log

TBD:
- Including RCV Tabulator version in the config files somehow

[2019-06-13 05:37] tarheel commented on #216
This is just code cleanup.

[2019-06-13 05:51] HEdingfield commented on #211
We discussed not allowing any "if not supplied", i.e. forcing the user to specify in every single case. The `unlimited` case can be handled by setting an upper limit for `MaxSkippedRanks`, like 10000, and instructing users to input that number.

The result is a config file that explicitly includes all arguments.

[2019-06-13 05:53] HEdingfield commented on #158
We agreed to just change %g to *, so it looks like:

[2019-06-13 05:56] HEdingfield commented on #136
May be related to #211, and may be a moot point now. Verify.

[2019-06-13 06:00] HEdingfield commented on #92
I think this is resolved since we upgraded to Gradle / the newest version of Apache's libraries, but need to verify.

[2019-06-13 16:12] HEdingfield commented on #111
@tarheel please confirm here once you've bought the domain, and then I'll go forward with these changes. [Google Domains](https://support.google.com/domains/answer/6296464?hl=en) also offers .network, but [NameCheap](https://www.namecheap.com/domains/registration/results.aspx?domain=brightspots.network) is (surprise) cheaper, and I've had good experiences with them. WHOIS privacy protection is fre

[2019-06-13 17:26] tarheel commented on #111
OK, I bought it.

[2019-06-13 19:24] HEdingfield commented on #92
Confirmed that this no longer occurs for me, likely because we're using the latest Apache libraries now.

[2019-06-13 19:24] #92 closed

[2019-06-13 22:06] HEdingfield commented on #86
Preliminary instructions on how to run it directly from the repo code (will add Windows info after going through the process on my Windows machine):

1) Install JDK 11 or higher (https://jdk.java.net/), and make sure your Java path is picking it up properly by verifying that following command returns the expected version:
$ java --version

If the expected version isn't getting returned, you'll nee

[2019-06-14 05:44] #269 closed

[2019-06-14 06:05] HEdingfield commented on #158
Note: this also occurs for audit logs and possibly in other cases too. Search comprehensively for this.

[2019-06-14 07:01] #111 closed

[2019-06-14 15:13] moldover commented on #141
@HEdingfield trying to repro/trigger this as part of #271 but I think it may be obsolete.  The only place the error message cited above appears in code is in TieBreak.java when it actually fails to load the FXML file, which presumably would only happen if there was some build/packing issue, and not something we need to worry about better user messaging on.  I'm inclined to close this, but maybe I'

[2019-06-14 17:00] HEdingfield commented on #141
I specifically mentioned a lack of stacktrace when this type of error occurs, so do you mean it's now showing a stacktrace when it's triggered (e.g. in the `TieBreak.java` example)? If so, can probably close, otherwise should probably keep it open.

[2019-06-14 17:27] HEdingfield commented on #78
Re-opening because it seems like tests added since this was completed don't follow these standards. In particular, should address:

- Everything that's run in `TabulatorTests.java` should follow the consistent `test_*` format (I see lots of folders with `*_test` and some that don't even have the word `test`.
- It seems like some CVR files, like `2013_minneapolis_park_cvr.xlsx` are used multiple ti

[2019-06-14 17:28] HEdingfield commented on #281
#78 is a partial blocker.

[2019-06-14 17:38] HEdingfield commented on #273
This is a bit of a blocker on #58 and #86.

@chughes297 could you please create a folder on the RCVRC Drive and give me, @tarheel, and @moldover write access to it? I'll take care of uploading the compiled bins over there, and I'll update the instructions accordingly.

[2019-06-14 18:18] chughes297 commented on #86
Should I add this to page on rcv.org? Or wait for these to be finalized?

[2019-06-14 18:56] HEdingfield commented on #86
Yes please, that'd be great! Note: this is in response to #273.

[2019-06-14 18:57] HEdingfield commented on #86
Oops, sorry, I meant update the link on the page per #273, but hold off on these instructions until we finalize. They actually don't apply to the compiled bins.

[2019-06-14 19:43] chughes297 commented on #273
Replied to your email but thought I should reply here too:

Thanks, just made the folder and gave you, Louis, and Jon edit permissions. I uploaded the most recent compiled version of the software that I have (20190426) to the folder, too. https://drive.google.com/drive/u/1/folders/1vYYJa5-oJe0lpaVnI_ELn9foZIVZ54pL

[2019-06-15 00:48] #158 closed

[2019-06-15 12:55] chughes297 commented on #273
[Page](https://www.rankedchoicevoting.org/universal_rcv_tabulator) has been updated

[2019-06-15 19:01] moldover commented on #141
Gotcha.  So when I trigger an IOException (by inserting a syntax error into GuiTiebreakLayout.fxml) I get a pretty reasonable/helpful message:

2019-06-15 10:37:00 PDT SEVERE: Failed to open: /com/rcv/GuiTiebreakerLayout.fxml:
javax.xml.stream.XMLStreamException: ParseError at [row,col]:[20,27]
Message: Attribute name "mnemonicP" associated with an element type "Button" must be followed by the ' =

[2019-06-18 03:32] tarheel opened #288 "add option for batch winner election"
The current behavior in the code is to elect all candidates exceeding the winning threshold simultaneously (i.e. in a single round). However, some jurisdictions (e.g. Eastpointe) have rules stating the only the candidate with the highest total should be elected in a given round. We need a boolean config param for this.

I figure we should call this "batch winner election" or something, because it'

[2019-06-18 03:59] HEdingfield commented on #288
Sounds good! Just remember to keep the default behavior state to have a false boolean, i.e. the option to turn it on would be something like "disable batch processing of winners".

[2019-06-18 07:40] tarheel commented on #288
Not actually sure which way should be the default here. I'll defer to @chughes297 and @gngilbert.

[2019-06-18 12:29] gngilbert commented on #288
Let's default to the "batch" process we currently have and add the "elect one winner per round" as an option.

[2019-06-18 16:09] HEdingfield commented on #43
Something worth noting: once we merge in PR #287 with version 1.0.0 hardcoded in there, we can't generate any pre-compiled versions until we're done done. We definitely don't want multiple 1.0.0s running around out there. I'll make a note to generate a Linux jlink today if I get a chance with the repo in its current state.

This also makes me realize that once we release 1.0.0, we'll need to maint

[2019-06-18 16:22] HEdingfield opened #289 "Adopt GitFlow"
From now on, I strongly recommend we adopt [the GitFlow workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) for this project. This is driven by the fact that we're now starting to use official version numbers, so we have to be really careful about our release process.

I went ahead and created the `develop` branch, which we should now treat as our primary branch

[2019-06-18 16:49] HEdingfield commented on #289
The main thing to remember is to base your PRs on the `develop` branch, not `master`. In fact, I'd recommend deleting your local copy of `master` entirely.

I set up a couple branch rules [here](https://github.com/BrightSpots/rcv/settings/branches) to help out with this. Basically merges into `develop` now require an approval from at least 1 reviewer, and merges into `master` require approvals fro

[2019-06-18 16:51] HEdingfield commented on #43
Went ahead and created `develop` branch now to start us on the GitFlow release management path, per #289.

[2019-06-18 20:40] chughes297 opened #290 "Precinct-level results files show exhausted ballots for whole election, not just precinct"
In the example file attached, the "inactive ballots" cell has a total of all inactive ballots in the whole election for this instance of RCV, not just the inactive ballots in the precinct in question. Should display just the inactive ballots in that precinct.

I used the Minneapolis Park Board 2017 District 1 CVR for this example, attaching it and my config to this as well.

[2019-06-18_14-36-55_M

[2019-06-18 20:49] chughes297 opened #291 "Sequential IRV tabulation only produces precinct-level results for the final instance of IRV"
When running a sequential IRV election (as will be used in Utah this fall), precinct-level reports are only produced for the tabulation of the final seat being filled. Need to produce precinct reports for each seat being filled.

(same example file as in Issue #290)
[2019-06-18_14-36-55_MINNEAPOLIS_W-2_P-05_precinct_summary.xlsx](https://github.com/BrightSpots/rcv/files/3303329/2019-06-18_14-36-55

[2019-06-19 00:02] tarheel commented on #290
Good catch. This is already documented in #265, and I plan to address it in the next two weeks.

[2019-06-19 00:02] #290 closed

[2019-06-19 00:05] tarheel commented on #291
Oops. Yeah, need to fix this. Is there a specific deadline? Can I revisit it after we finish the work for the Eastpointe deadline?

[2019-06-19 06:09] moldover commented on #43
So, that's a good point on #287.  I just updated the version to 0.1.0 in the branch for #287 so that is not a problem.  Once we're at code freeze for submission we can update the build version to 1.0.0.

As for using git flow, it looks fine, but with just the three of us I don't see it adding more value than overhead.

[2019-06-19 06:15] HEdingfield commented on #43
It shouldn't be too much more overhead I don't think; the main thing is to just treat the develop branch now the way we used to treat the master branch. Then when it comes time to do releases, we tag with the version number and merge into master. I'm happy to spearhead the releases if you don't want to deal with them. I use Gitflow a lot in my personal projects, so I'm pretty used to it.

[2019-06-19 09:44] freedomcounts commented on #291
Utah requires EAC Certification for all voting systems.  Based on that requirement we need to make this a certification-deliverable-essential,  Deadline to complete and fully test is June 30, 2019.

[2019-06-19 15:01] moldover commented on #43
Gotcha.  Well, if @tarheel is game I'll give it a shot.

[2019-06-19 16:34] moldover commented on #278
Fixed with #287

[2019-06-19 16:34] #278 closed

[2019-06-19 16:34] moldover commented on #271
Fixed with #287

[2019-06-19 16:34] #271 closed

[2019-06-19 19:22] nealmcb commented on #43
We've found in other projects that having the build system generate and insert the release number is super helpful for debugging and development in general. There are a bunch of ways to do that, including ways which put git commit info in the string for dev builds and the like, so you don't have to hardcode the strings. I can dig more out if you're interested.

[2019-06-19 19:26] nealmcb commented on #43
For what its worth, as I recall the projects I've been on weren't thrilled with approaches like GitFlow, finding them too heavyweight. See also [GitFlow considered harmful | End of Line Blog](https://www.endoflineblog.com/gitflow-considered-harmful)

[2019-06-19 19:36] tarheel commented on #43
I'll admit I haven't spent much time thinking this through... but I'm pretty receptive to the argument in the blog post that @nealmcb just shared. GitFlow does feel kind of over-engineered.

[2019-06-19 22:09] HEdingfield commented on #141
Obsolete / resolved with #287.

[2019-06-19 22:09] #141 closed

[2019-06-19 22:22] HEdingfield commented on #43
The article brings up a few good points, but I thoroughly disagree with it's conclusion and his proposed alternative. Imagine this (very likely) scenario if we continue as-is:
- We tag a release as 1.0.0 on master.
- We don't use Gitflow, and instead just keep merging with the master branch directly.
- We're not ready to release 1.1.0 yet, but someone downloads and compiles our repo after we've ma

[2019-06-19 22:32] tarheel commented on #43
Not contesting your last point about the practical difference of this approach -- I'll take your word for it -- but I'm not sure that the hypothetical situation you described would actually be a problem. If a random person compiled master on their own and then filed a bug, couldn't we just ask them for the commit hash that their build was based on? Anyone technical enough to compile on their own i

[2019-06-19 22:57] HEdingfield commented on #279
Turns out I had documented this a while back in a local notes file I had:

* BUG: if you create a config with just a title and save it, it'll automatically input a value for output path, so if you load it and try to do something without changing it it'll think it was changed

I think what's actually causing this is, when there's no `outputDirectory` defined in the config JSON, it'll automatically

[2019-06-19 23:03] HEdingfield opened #292 "Reassess need for JDK workaround in GuiApplication"
This comment in `GuiApplication` appears to be a JDK 8 and 9 bug, may not apply anymore now that we're on 11+:
// workaround for https://bugs.openjdk.java.net/browse/JDK-8088859

[2019-06-19 23:03] nealmcb commented on #43
I agree that version numbers should not be misleading, which is why I noted the option above of having them generated automatically by git-savvy build tools which can actually lead users to the exact version of source code involved even for dev builds. But of course I don't really have much of a stake in the decision - just hoping some extra input may be helpful.

E.g. this looks good for Gradle-b

[2019-06-19 23:17] HEdingfield opened #293 "Determine if TieBreaker pop-up needs parent window"
Comment in `GuiApplication`:
"// cache main window so we can parent file choosers to it"
Probably more accurately make this "parent pop-up windows" in general

See if any other window parenting needs to be done (e.g. for Tiebreaker, alerts, etc.), like this:
https://github.com/BrightSpots/rcv/pull/172/files

[2019-06-19 23:18] HEdingfield opened #294 "Documentation pane should display info relevant to tab you're currently in"
Probably just interim fix before tool tips get implemented (#98).

Should also consider merging the .txt file into an .md (or four) and linking to a .json config example.

[2019-06-19 23:31] HEdingfield commented on #43
@tarheel: why even allow that confusing situation in the first place though? It's much cleaner, straightforward, and simple to have a guarantee than anyone building off the master branch will be at a static, known position. There's literally no downside in our case other than simply remembering to base most of our PRs on the develop branch, and I offered to double-check that...

@nealmcb: I don't

[2019-06-19 23:43] tarheel commented on #43
OK!

[2019-06-21 04:21] tarheel commented on #78
Yes, we do have a number of duplicate CVR files in the test data. If we wanted to avoid that, we would need to create an exception to the naming scheme, I guess. Also, 2013_minneapolis_mayor_scale has 13 copies of the same file because we don't allow a config to list the same source file multiple times. I agree it's dumb to have duplicate files in the repo, though.  Feel free to address these issu

[2019-06-21 05:33] moldover commented on #78
It's not worth it to come up with a scheme to exclude a mere 25MB of test files.  If we make a distro which includes test files, we should include them all.

[2019-06-21 15:05] moldover commented on #267
@tarheel I think it makes sense for me to do this along with #83 since it is pretty much one part of that task.  I'm going to assign to myself and am actually working on it now, so just let me know if you disagree.

[2019-06-21 15:07] moldover commented on #267
Actually, I'm just going to close this ticket as a dupe of #83 since it is already included in the description.

[2019-06-21 15:07] #267 closed

[2019-06-22 07:32] tarheel commented on #195
Note that this also needs to work for the sequential case. I'm fixing that output logic in #291.

[2019-06-22 16:35] HEdingfield opened #296 "Config file with invalid sources won't even partially load in GUI"
Load `invalid_sources_test_config.json` in the GUI:

None of the parameters in the GUI are populated just because it doesn't like the CVR sources... it seems to me that this should just be checked during validation, and not completely derail the loading process (so the user can use the GUI to actually address the problem).

[2019-06-22 16:46] HEdingfield commented on #43
@moldover: I agree with you in #295 on adding the version number to the config files; we could probably just make a fifth top level key, `tabulatorVersion`.

A small wrinkle will be deciding how this gets updated when a different version of the tabulator loads it: I think we should probably have it automatically update the version number once it loads, but since it's a field in the background, it'

[2019-06-23 01:30] HEdingfield commented on #145
Obsolete; when I repro following these instructions I get an error message now.

[2019-06-23 01:30] #145 closed

[2019-06-23 06:09] tarheel opened #299 ""Cleaning up unclosed ZipFile" message"
Doesn't seem like it's breaking anything, but this has started showing up in the console output. Maybe the XLSX reader needs to close the file when it's done?

[2019-06-23 06:25] tarheel opened #301 "optimize memory footprint of logCdfSnapshotData in CastVoteRecord"
In a multi-seat contest, the current approach can end up storing some redundant data in memory; it's basically re-creating `winnerToFractionalValue` each time it logs to `cdfSnapshotData`. We should revisit this if we encounter memory issues with CDF generation.

[2019-06-23 06:43] HEdingfield opened #303 "Modularize fxml files"
Per Louis's request in #297, break apart `GuiConfigLayout.fxml` into a main template with multiple sub-FXML files. This should be possible according to [this example](https://stackoverflow.com/questions/53444046/fxml-include-other-fxml-files-and-user-defined-property).

[2019-06-23 06:44] HEdingfield commented on #138
Closed with #297.

[2019-06-23 06:44] #138 closed

[2019-06-23 06:48] tarheel opened #304 "fix noinspection unchecked for excluded CheckBox in GuiConfigController"

[2019-06-23 06:51] tarheel opened #305 "create unit test for setWinningThreshold logic in Tabulator"

[2019-06-23 07:21] tarheel commented on #43
When this is the only change, maybe we can tell the user what's going on so they're not confused.

[2019-06-23 07:34] HEdingfield commented on #132
Closed with PR #302.

[2019-06-23 07:34] #132 closed

[2019-06-23 07:35] tarheel commented on #277
We're actually already doing this for XLSX CVR sources. Perhaps we'll add it for CDF sources in the future, but I'm not going to worry about that now.

[2019-06-23 07:35] #277 closed

[2019-06-23 07:40] HEdingfield commented on #304
This applies to `GuiConfigController.initialize()`:
[code]

[2019-06-23 07:44] HEdingfield commented on #277
Want to file a new issues for CDF and tag it with the Future milestone, or just convert this one over to that?

[2019-06-23 08:04] tarheel opened #308 "create unit test for getOvervoteDecision"

[2019-06-23 08:07] tarheel opened #309 "validate CDF source files"
There are various checks we can run when we parse CDF files to make sure everything is internally consistent, e.g. there aren't any votes for candidates that aren't in the list of valid candidates. Hopefully we can reuse code from John Dziurlaj instead of writing our own.

[2019-06-23 08:07] tarheel commented on #277
#309

[2019-06-24 02:48] tarheel commented on #288
I just realized there's an edge case for which the correct/desired behavior isn't obvious. Clearly the winner that we select when this option is enabled should be the candidate who has the highest vote total. But what if two or more candidates are tied with the highest total? Do we need tiebreaker logic here? The stakes are lower than in an elimination tiebreak, since in this case they're all goin

[2019-06-24 04:49] tarheel opened #312 "fix single test case execution in IntelliJ"
The Gradle migration broke this. Looks like it might just be a path issue.

[2019-06-24 05:13] #312 closed

[2019-06-24 16:53] moldover commented on #83
@gngilbert @CalebKleppner  I'm putting in some stricter checks around CVR file parsing to help users identify problems with CVR files.  If a user specifies precinct ID column, should we fail the tabulation if we encounter ballots which don't have a precinct ID?

[2019-06-24 18:05] CalebKleppner commented on #83
I'd say that we should not stop the tabulation, since we sometimes get
an odd file or two lacking a precinct identifier.  What would happen to
precinct report if you have records with no precinct identifier?  If
they can all be collected in [null] or [precinct ID missing], that would
be ideal.

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 6/24/2019 12:53 PM, Jon Moldover wrote:

[2019-06-24 18:07] CalebKleppner commented on #83
I'd say that we should not stop the tabulation, since we sometimes get
an odd file or two lacking a precinct identifier.  What would happen to
precinct report if you have records with no precinct identifier?  If
they can all be collected in [null] or [precinct ID missing], that would
be ideal.

Caleb Kleppner
MK Election Services, LLC
203-376-4080

On 6/24/2019 12:53 PM, Jon Moldover wrote:

Caleb

[2019-06-25 06:14] moldover commented on #83
Sure, that should be easy enough.

[2019-06-25 15:10] chughes297 commented on #288
Yes, the same tie-breaker procedure would apply (unless the law as written requires a different procedure for electing tied candidates than the one used for eliminating candidates, in which case I'd suggest handling all ties outside of the system/having tabulation pause at all ties for manual entry of the winner/loser of that tie-breaker).

[2019-06-25 16:34] HEdingfield commented on #296
Fixed with #298.

[2019-06-25 16:34] #296 closed

[2019-06-25 17:11] tarheel commented on #288
OK, thanks. I'll just hook into our existing tie-breaking logic for now.

[2019-06-25 17:23] HEdingfield commented on #291
I believe this was fixed with #300.

[2019-06-25 17:23] #291 closed

[2019-06-25 17:25] HEdingfield commented on #236
Fixed with #307.

[2019-06-25 17:25] #236 closed

[2019-06-26 17:49] HEdingfield commented on #281
I've made progress including files with the `distZip` method, but we're probably going to want to rely on `jlink` instead, and I haven't had any luck so far figuring out how to include files in the `jlink` image. Filed a question on SO [here](https://stackoverflow.com/questions/56778477/how-to-bundle-extra-files-with-jlink-image).

[2019-06-26 22:21] HEdingfield commented on #197
Both tests were deleted in #295, but per my comments in that PR, I'd still like us to keep a copy of the tiebreaker files:

Again, as I mentioned in the PR comments, I think we should make the distinction between "test" input and "example" input here. This is a case of example input; it's not directly related to a unit test, but I want to include it as a sample file for users to play with in #281.

[2019-06-27 06:15] moldover commented on #211
@HEdingfield @tarheel:  Thoughtful default values (particularly for the many arcane RCV variations we support) provide the most value to our users.  We shouldn't force everyone to spend time learning what a Hare Quota is to use our software.  It isn't scalable.  Put another way, if a user doesn't know or care enough about a parameter to set it, and we are thoughtful in our default values, and we c

[2019-06-27 06:20] moldover commented on #211
And for example, version 2 could say, "warning: config file doesn't specify 'useHareQuota' defaulting to 'true'.  Version 1 defaulted to 'false' because bla bla bla but now we default to 'true' because bla bla bla.

[2019-06-27 06:27] tarheel commented on #211
We're effectively already doing this because we have a UI for generating a config, and it pre-populates values (called "suggested" in the code) for most fields. The user can ignore the Hare quota option and all the other booleans and it will save them all as false, which is a sensible default value for all of them. So I'm not sure what we actually need to change here... unless you think it's impor

[2019-06-27 13:56] chughes297 commented on #273
Is there anything else I need to do to help resolve this issue?

[2019-06-27 16:02] moldover commented on #83
Closed #314

[2019-06-27 16:02] #83 closed

[2019-06-27 16:11] moldover commented on #197
@HEdingfield yeah that makes sense.  I'll put them in the next PR and close this since this issue has been addressed.

[2019-06-27 16:31] HEdingfield commented on #273
@chughes297 I recently submitted PR #315, which moves all the download and installation instructions to the README, which is displayed prominently on the front page of the GitHub. We'll merge this into the master and it'll be live within the next week, so if you want to go ahead and update [the page](https://www.rankedchoicevoting.org/universal_rcv_tabulator) now, that'd be cool.

Basically, you j

[2019-06-27 16:44] HEdingfield commented on #211
You both bring up good points; as long as our config files save ALL parameters (and yes, the GUI helps with suggested values), we're mostly good here, and we shouldn't need to engineer the complex sorts of error messages @moldover brings up above, as the previous "if not supplied" value will be clearly saved in the config, and will load accordingly.

I think the problem is specifically with, e.g.,

[2019-06-27 16:56] HEdingfield commented on #197
I'd rather keep this one open as opposed to creating a new one to remember to get those files re-added. I'll add myself as an assignee too so I can remember to close it once the files are back in.

[2019-06-27 17:26] HEdingfield commented on #58
Closed with #315.

[2019-06-27 17:26] #58 closed

[2019-06-27 17:28] HEdingfield commented on #86
Closed with #315. @chughes297: better to have the page point to these instructions rather than duplicate them on your page, as they're subject to change. See the comment I left in #273 with my specific recommendation.

[2019-06-27 17:28] #86 closed

[2019-06-28 03:40] moldover commented on #211
Gotcha.  So no problem changing default values.  You want to ensure that a missing or undefined parameter always results in the default value.
- all parameters have a default value
- null or missing should never be a valid value
- null or missing parameters get their default when a config is loaded (we should log this when it happens)

That sounds good to me.  I don't think any safeguards are need

[2019-06-28 05:39] tarheel commented on #211
Not sure about that comment, but I do know that the Jackson parsing has the unfortunate behavior of supplying default values for missing fields. If a config file is missing one of the booleans, our code will still load it and just fill in false for that field. We should probably fix that...

Hylton recommended this for clarity. Default = filled in by the app if the field is missing from the config

[2019-06-28 07:01] HEdingfield commented on #78
Began the process of distinguishing between "test" and "sample" input files in PR #316. Verified that, in that PR, only the `sample_interactive_tiebreak` folder isn't used in a unit test, so all other folders should start with the prefix "test".

[2019-06-28 07:16] HEdingfield opened #317 "Interactive tiebreaker bug with sequential multi-seat tabulation"
I found a bug with the interactive tiebreaker sequential multi-seat example using the files I included in PR #316.

Load: `rcv\src\test\resources\network\brightspots\rcv\test_data\sample_interactive_tiebreak\sample_interactive_tiebreak_sequential_config.json`

Tabulate, eliminate Yinka Dare; then the entire thing runs a second time for some reason. If you choose Yinka Dare again, it ends after the

[2019-06-28 07:39] HEdingfield commented on #211
@moldover as I mentioned above in detail, `MaxSkippedRanks` uses null to convey "unlimited", which is no bueno (there may be other settings that do this too, we should double-check). I also don't think we should ever fail to load a config in the GUI, as I recently addressed in one of my PRs, but we can fail during validation if we want.

I like the post you linked to; are you suggesting we use the

[2019-06-28 15:16] moldover commented on #211
Got it.  Thanks for catching me up.  I'm just gonna go with Hylton's idea of an 'effectively unlimited' default value.  It covers all the bases in a reasonable way.  Then I'll check and make sure everything lines up between code, UI, and docs for #136.

Moving config version convo to #43

[2019-06-28 15:29] moldover commented on #43
For the config version I say use semantic versioning here as well. As Hylton suggests, a top level key/string in the config json, "version" : "1.0.0"

In general we should log whenever we are adding default values during loading to alert the user as Louis suggests and to keep a record of where data changes come from.

[2019-06-28 16:51] tarheel commented on #43
Would this require switching to a different JSON library? Or is there a setting in Jackson to tell it not to fill in default values when fields are missing?

[2019-06-28 17:29] HEdingfield opened #318 "Minimal config file fails to load"
I thought this was addressed in #296, but, when attempting to load a stripped-down config file with the bare minimum of "required" fields (see an example below), it doesn't properly load for some reason and the error message is entirely unhelpful:

[code]

Assigning to all of us for now, but if you're going to start working on it, please get rid of the other assignees.

[2019-06-28 17:37] HEdingfield commented on #318
This is triggered by the following line in `ContestConfig.processCandidateData()`:

`if (source.getProvider().equals("CDF")) {`

I'll submit a fix.

[2019-06-28 18:43] HEdingfield commented on #211
Got sucked into the rabbit hole and just spent a bunch of time auditing these settings. I made a config with zero of the "if not supplied" settings included, and then saved it in the GUI and found that many are already populated automatically and saved in the config. However, there are a number that we'll need to change to also explicitly save as well when not supplied. Here's what we'll need to d

[2019-06-28 18:51] HEdingfield commented on #43
I thought this was exactly why we moved away from doing default values. @moldover, can you explain when this would be an issue? Once the changes in #211 are implemented, we'll never have a case where there are unspecified fields in a config file. Or are you specifically discussing the situation where a new "if not supplied" field is added in a future version?

[2019-06-28 21:32] HEdingfield commented on #142
#306 made progress on this, but we also need to remove FIXMEs.

[2019-06-28 22:03] tarheel commented on #142
Ah, nuts. OK.

[2019-06-28 23:38] tarheel commented on #211
This still feels weird to me. I still find myself wishing we had a clean way to represent a null value. One idea that just occurred to me (feel free to shoot it down): start representing *all* fields as strings in the config, so it's easy to use the empty string to signify null. Do the string to number/boolean/whatever conversion ourselves.

I would prefer to avoid creating this edge case.

Yeah,

[2019-06-29 00:44] HEdingfield commented on #281
Closed with #316.

[2019-06-29 00:44] #281 closed

[2019-06-29 00:45] HEdingfield commented on #197
Closed with #316.

[2019-06-29 00:45] #197 closed

[2019-06-29 07:00] HEdingfield commented on #318
Closed with #319.

[2019-06-29 07:00] #318 closed

[2019-06-29 07:37] HEdingfield opened #321 ""Successfully loaded contest config" appears right after you save a config"
Minor issue: "Successfully loaded contest config" appears right after you save a config, e.g.

We can probably set a `silentMode` boolean for `loadContestConfig` that suppresses this message in the save use case.

[2019-06-29 07:41] HEdingfield commented on #211
It's late at night and maybe I'm just not thinking straight, but I think that's an interesting idea actually, and it would get around the column index values issue since we could save the int as a string. Seems like it would probably take quite a bit of re-plumbing (and fixing up test configs), but maybe it's doable by the 1.0.0 deadline? @moldover (and less tired me) for sanity check please.

[2019-06-30 19:16] tarheel commented on #211
I don't think it would be too painful. We'd just redefine every field in RawContestConfig as a String, and  then we'd have to update a bunch of the getters in ContestConfig and change some logic in the GUI. I'd be willing to attempt it after I finish my essential tasks.

[2019-06-30 19:19] tarheel commented on #321
Good catch. Not directly related, but it's also a little weird that we say "Saved object" instead of "Save config."

[2019-06-30 19:42] moldover commented on #211
@tarheel There is a null value object in JSON, which can work with Integer and Jackson e.g. `"maxSkippedRanksAllowed" : null,`  We can go with that way but would need to remove those @JsonInclude(JsonInclude.Include.NON_NULL) annotations for it to write on save.  @HEdingfield do you remember why those were needed?  The commit message says 'now exclude all non-null fields in config files during sav

[2019-06-30 23:42] HEdingfield commented on #135
Closed with #320.

[2019-06-30 23:42] #135 closed

[2019-07-01 00:58] HEdingfield commented on #211
I think I put two of those in there because I was just replicating what @tarheel had done originally in this commit: https://github.com/BrightSpots/rcv/commit/9d64c4ae6fd9dea384947c5a04592aa40a333ab7

So, it's hard for me to give a justification at this point, beyond cleaner, shorter config files, which obviously takes a back seat to this. So, if we go this route, I guess we a) don't need to strin

[2019-07-03 05:26] HEdingfield commented on #195
I think this is the same issue I ran into today: precinct tests like `precinct_example` and `missing_precinct_example` currently only compare the overall .json summary to a single expected file. They should compare each precinct summary as well (including the missing one in the latter case).

[2019-07-04 02:47] HEdingfield commented on #321
Closed with #323

[2019-07-04 02:47] #321 closed

[2019-07-04 03:21] tarheel opened #324 "treatBlankAsUndeclaredWriteIn doesn't work"

[2019-07-04 03:58] HEdingfield commented on #211
@moldover has done solid work in #322, but after looking at it in practice, I really don't think it's addressing the entire point of this issue... "Safeguards against changing "if not supplied" behavior in future versions".

If we allow stuff like:

And "if not supplied" changes in the future, what protection do we have?? We've got a case of non-replicable behavior resulting from not explicitly de

[2019-07-04 04:41] tarheel commented on #211
I respectfully disagree. I think the purpose of #322 is to eliminate cases in which the field isn't supplied in the config at all, and it accomplishes that. When the field is supplied but it's set to null, that's reasonable as long as the null value is communicating something specific. For these fields, it is: setting a maxSomething field to null is clearly saying that there should be no maximum,

[2019-07-04 05:02] HEdingfield commented on #211
Ok, so here it seems like you're arguing that "if not supplied" strictly means when a config file doesn't contain the field at all. So if the field is in there but has a null value it's technically "supplied".

The problem is that the "if not supplied" behavior described in the .txt for the two fields I called out also triggers when the key is supplied but the value is null. Do you see the confusi

[2019-07-04 05:56] HEdingfield commented on #211
The more I think about this, the more strongly I feel that stringifying every field in `RawContestConfig` (as @tarheel suggested) is the correct way forward here. It gives us maximum flexibility, removes any chance of ambiguity, and effectively future-proofs changes to the config file. I also think it's really critical we get this right before certification, so I'm willing to take on this issue si

[2019-07-04 07:18] tarheel commented on #142
@HEdingfield could you explain the FIXMEs in GuiConfigController? They both say "FIXME: If user enters bad data, value is nulled out instead of reverting to previous value." But when I test the app, it does indeed revert to the previous value if I try to enter a non-integer string. Is there anything to fix here?

[2019-07-04 07:25] moldover commented on #211
The objection was based on the risk of a major change just before a major release, which is real.  But I agree it removes ambiguity between null vs. missing which is good.  And I like Louis' suggestion of keeping 'default' logic in RawContestConfig, and 'normalization' logic in ContestConfig so maybe with both we might be good?  Thinking out loud here...

Everything is a string in the config json.

[2019-07-04 07:49] tarheel commented on #211
Oh, sorry, I actually wasn't proposing this. I think RawContestConfig should reflect exactly what's parsed from the saved file, and it should be an error if you try to validate a config file that's missing any of the fields. But you should be able to load and edit a config that's missing fields, since otherwise you'd never be able to use the UI to fix the problem.

If the GUI needs to transform a

[2019-07-04 15:57] HEdingfield commented on #211
@moldover yes, I think what you lay out definitely heads in the right direction. I'd add the further stipulation that we only allow "" for optional fields that are legit Strings. I think `maxSkippedRanks` validation should fail for values like "", "-1", "2.4", "fjgkhl", and suggest in the message a value of "unlimited", "1", "2", etc. Similarly `maxRankingsAllowed` validation would fail with "", e

[2019-07-04 16:39] HEdingfield opened #325 "firstVoteColumnIndex and firstVoteRowIndex issues for JSON CVRs"
The GUI allows you to add a CVR to the list without first vote row and first vote column if the filename contains `.json`. However, it doesn't run this check again if you double click the fields in the list and modify them, thus forcing you to keep a value in these fields.

Also encountering this when I try to run validation:
[code]
Not sure if these latter two notes about the indices being requir

[2019-07-04 16:39] HEdingfield commented on #142
Repro:
1) Use the CVR GUI to enter values for all six fields, then add it to the list
2) Double-click each field and attempt to enter bad data (e.g. text for each column index) and then press enter
3) Observe that, for First Vote Column and Row, the value reverts back to what was in there before; but for ID Column and Precinct Column, the bad data is just replaced with a null value... this likely

[2019-07-04 17:27] HEdingfield opened #327 "Handling versions in config files, test files, and CDF output"
`ResultsWriter.generateCdfJson()` has a line that says `outputJson.put("Version", "1.0.0")`. Can we verify that this is a CDF / NIST format version, and not the version of our app?

If the former is true, I recommend that we change the `entry("Application",` line to include the version number of our tabulator there, in addition to the change I made in PR #326.

In that case, though, `TabulatorTest

[2019-07-04 19:17] tarheel commented on #327
If this is just about CDF versioning, I don't think it's relevant to the current certification work, right?

[2019-07-04 19:23] moldover commented on #211
Slacked with @HEdingfield and decided to
- abandon #322.  Easier to start from scratch.
- go ahead with stringifying everything and implementing proposals in the previous comment

[2019-07-04 19:39] moldover commented on #211
@HEdingfield one tweak: @tarheel realized we can remove the special logic for getMaxRankingsAllowed and just have it be a "normal" int, required, 1..1000.  The gui can still suggest number of declared candidates.  I'm also ok with no suggestion, and forcing the user to make a decision here.  I'd lean toward the latter also cause it's simpler in code.

[2019-07-04 19:46] HEdingfield commented on #327
That part isn't, but the whole idea of adding version to config files makes this still relevant (see second two paragraphs).

[2019-07-04 19:59] moldover commented on #327
Yeah, confirmed this is the cdf file format version.  We really shouldn't spend time on cdf support, certainly not for this release.

[2019-07-04 20:23] moldover commented on #317
@HEdingfield this is expected for a sequential race. If you look closely at the output you'll see the first time through Mookie is elected to the first seat, and the second time through he is excluded, and Geroge is elected to the second seat.  I'll add some logging so this is clearer.

[2019-07-04 20:56] HEdingfield commented on #211
I went ahead and got this working in my `string-config` branch with "max" for the total number of declared candidates. It works nicely.

[2019-07-04 22:53] #317 closed

[2019-07-04 23:35] moldover commented on #43
@HEdingfield circling back on this finally.  Is your question above still relevant now that #211 is done?

As for the config version update behavior, I agree, if someone loads an older version we can update it to the current version and log why.  No big deal.

[2019-07-05 00:07] HEdingfield commented on #142
Addressing this in #328. I'll get rid of the FIXMEs there.

[2019-07-05 00:08] HEdingfield commented on #325
May be mitigated partially by PR #328.

[2019-07-05 05:40] tarheel opened #330 "interactive tie-break in CLI doesn't work if you run the app using gradle"
You don't get a chance to respond and it dies with this exception:
[code]

[2019-07-05 05:47] tarheel opened #331 "add a Generate Seed button in the GUI"
Right now we expect the user to choose a random seed on their own. See #170.

[2019-07-05 18:53] HEdingfield opened #332 "Bad string for contestDate causes silent error during load"
If you enter a bad string in contestDate JSON and try to load it in the GUI, it says it loaded successfully in the GUI console even through it throws a DateTimeParseException in IntelliJ.

1) Need to fix handling of bad date.
2) Need to fix silent errors like this occurring; I thought this was resolved by #174, but it can apparently still happen in certain cases.

[2019-07-05 19:00] HEdingfield opened #333 "`GuiConfigController.checkIfNeedsSaving()` `savedConfigString` string doesn't exactly equal what's saved on the HDD"
Repro:
1) Load a config file with "maxSkippedRanksAllowed" : 1, (instead of  "maxSkippedRanksAllowed" : "1",)
2) Click "Load" again, which should realize that 1 != "1" and trigger a save check
The save check isn't triggered.

I *think* this is just an insignificant corner case, but it might have larger ramifications... would you guys mind sharing your thoughts?

[2019-07-05 19:41] HEdingfield commented on #330
This works fine for me if I uncomment the following lines in `build.gradle` and input a path to a config:
[code]

Feel free to re-open if you think it's necessary, but I feel good about this.

[2019-07-05 19:41] #330 closed

[2019-07-05 19:45] HEdingfield commented on #317
#329 makes this much better, thanks.

[2019-07-05 20:55] tarheel commented on #333
Um, my intuition matches yours -- this is probably fine. Or, at least, I can't think of a real problem that this would cause.

[2019-07-05 22:01] HEdingfield opened #334 "Validating overflowing integers provides confusing error message"
Consider making text box integer inputs all "must be between %d and %d" validation messages, where the max is Integer.MAX_VALUE. Otherwise, if you set the value super high in the GUI and try to validate, you get the somewhat misleading messages like:

Or:

Both of which may confuse the user who may not realize an integer has an upper bound.

[2019-07-05 22:04] tarheel commented on #334
I agree with this proposal.

[2019-07-05 22:13] HEdingfield commented on #331
Preferably next to the Random Seed text box. Also farther down the line: it'd be awesome of this box only revealed itself when selecting one of the relevant tiebreaker modes, though this will be tricky from a design perspective.

[2019-07-05 23:12] HEdingfield commented on #170
This is essentially closed with #313, but it'd be nice to see tests for all three random-related tiebreakers, not just `RANDOM` as was done in `tiebreak_seed_test`.

[2019-07-05 23:14] tarheel commented on #170
Yeah, I'll add the other two.

[2019-07-06 00:31] HEdingfield opened #338 "Audit logging bug after cancelling tiebreaker"
If you tabulate using the interactive tiebreaker, e.g. with `sample_interactive_tiebreak`, and then cancel during the tiebreak, the original audit log continues to grow indefinitely (recording any and all subsequent tabulations) until you close the tabulator.

[2019-07-06 00:33] HEdingfield opened #339 "Loading a bad config file doesn't message properly"
If you try to load one of the "expected" JSON files, it says it successfully loaded before throwing an NPE.

[2019-07-06 04:58] tarheel commented on #288
Closed with #311.

[2019-07-06 04:58] #288 closed

[2019-07-06 05:21] tarheel commented on #339
Hmm. Well, there's no precise way to distinguish between a config JSON that's slightly off and a JSON file that isn't a config file at all. But we should avoid an NPE no matter what.

[2019-07-06 06:15] tarheel opened #341 "add automated test for previousRoundCountsThenRandom tie-breaking mode"

[2019-07-06 06:36] HEdingfield commented on #341
Continuation of #170.

[2019-07-06 06:45] tarheel commented on #237
Closed with #337.

[2019-07-06 06:45] #237 closed

[2019-07-06 14:23] nealmcb commented on #170
I'm always humbled by the complexities of properly addressing randomness, and especially verifiable randomness, in computer software. Thanks for your work here!

I'm sorry I didn't notice the work in #313 or dive deeper into this before, beyond referencing Rivest's "sampler" PRNG at https://github.com/nealmcb/rivest-sampler-tests/tree/python3-port in https://github.com/BrightSpots/rcv/issues/43#is

[2019-07-06 15:09] HEdingfield commented on #170
Thanks for the comments, Neal. Hopefully we'll have time before our Sunday night deadline to address this.

[2019-07-06 19:37] moldover commented on #327
Future application versions can decide how to handle this.

[2019-07-06 20:02] moldover commented on #43
closed via #336

[2019-07-06 20:02] #43 closed

[2019-07-06 22:19] tarheel commented on #170
Not sure if we should worry about iterating further on this code for tomorrow's deadline -- I'm guessing that the jurisdictions using our software based on this initial certification will want to use the interactive tie-breaking option and handle the random choices outside of the software -- but @nealmcb's suggestions sound like a great next step toward being able to tell people that they can trus

[2019-07-07 00:16] tarheel opened #345 "inaccurate "Migrated tabulator version from 0.1.0 to 0.1.0" message"
If you open a config file that has no version number, you get this message. Instead, it should probably say that it's migrating from unversioned...?

[2019-07-07 05:37] tarheel opened #347 "config referencing nonexistent CDF source leads to uncaught exception"
Example:

[code]

I guess it basically handles it fine, but maybe we should clean up the log messages a bit.

[2019-07-07 06:02] tarheel commented on #279
This doesn't seem to repro for me anymore. Well, it does repro when I first load it, but once I save the file once and it reformats it, it's fine from then on. So I'll just put up a PR with that updated version.

[2019-07-07 06:27] tarheel commented on #195
Are we still comfortable that this is non-essential? I'm working on #189 and would need this issue to be addressed in order to automate testing of my work.

[2019-07-07 06:28] tarheel commented on #195
(Note that we also labeled #189 as non-essential, so we're being consistent.)

[2019-07-07 16:43] HEdingfield opened #352 "Unnecessary validation messages if labels equal each other"
If `overvoteLabel`, `undervoteLabel`, or `undeclaredWriteInLabel` equal one another, unnecessary duplicate error messages are produced by `ContestConfig.stringAlreadyInUseElsewhere`, e.g.:

[2019-07-07 18:15] tarheel commented on #324
Fixed by #348.

[2019-07-07 18:15] #324 closed

[2019-07-07 18:19] tarheel commented on #189
Fixed by #351.

[2019-07-07 18:19] #189 closed

[2019-07-07 18:52] gngilbert commented on #170
Agreed. For most elections offices a coin flip is as random as they care
about. Definitely want to address it later, however, if we don't get it now.

On Sat, Jul 6, 2019, 6:19 PM Louis Eisenberg <notifications@github.com>
wrote:

[2019-07-07 19:41] HEdingfield commented on #279
I suggest we close this because I understand why it happens, and it makes sense to me. Basically, if you have garbage parameters like "oogabooga" for `tiebreakMode`, it'll silently replace that with "modeUnknown". I guess we could consider adding a warning message to the user during loading notifying them about this, but I don't know that it's super important. Will leave it open in case we want to